In [1]:
import requests
from bs4 import BeautifulSoup
import time
from tqdm.notebook import tqdm
from urllib.parse import quote

import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.alert import Alert

from datetime import datetime, timedelta

In [2]:
# 셀레니움으로 url 주소 크롬 열기
driver = webdriver.Chrome()
url = 'https://www.kobis.or.kr/kobis/business/stat/boxs/findPeriodBoxOfficeList.do'
driver.get(url)
time.sleep(1)

# 초기 날짜 지정
start_day = datetime.strptime("2003-01-12", '%Y-%m-%d')
print(start_day)

2003-01-12 00:00:00

In [3]:
for i in tqdm(range(300)):
# while True:
    end_day = start_day + timedelta(days=6)
    print("# end_day : ", end_day, end=' ')
    
    start_day_str = start_day.strftime('%Y-%m-%d')
    
    end_day_str = end_day.strftime('%Y-%m-%d')
    
    # 조회기간 시작일 비우기
    driver.find_element(By.NAME,'sSearchFrom').clear()
    time.sleep(0.5)
    Alert(driver).accept()
    time.sleep(0.5)
    
    # 조회기간 마지막일 비우기
    driver.find_element(By.NAME,'sSearchTo').clear()
    time.sleep(0.5)
    Alert(driver).accept()
    time.sleep(0.5)
    
    # 조회기간 시작일 값 입력
    driver.find_element(By.NAME,'sSearchFrom').send_keys(start_day_str)
    time.sleep(0.5)
    driver.find_element(By.XPATH,'/html/body').click()
    time.sleep(0.5)
    
    # 자동으로 채워진 마지막일 값 비우기
    driver.find_element(By.NAME,'sSearchTo').clear()
    time.sleep(0.5)
    Alert(driver).accept()
    time.sleep(0.5)
    
    # 조회기간 마지막일 값 입력
    driver.find_element(By.NAME,'sSearchTo').send_keys(end_day_str)
    time.sleep(0.5)
    driver.find_element(By.XPATH,'/html/body').click()
    time.sleep(0.5)
    
    # 조회 버튼 클릭
    driver.find_element(By.CSS_SELECTOR,'div.wrap_btn .btn_blue').click()
    time.sleep(2)

    # 엑셀 파일 다운로드
    driver.find_element(By.CSS_SELECTOR,'div.tar a:nth-child(2)').click()
    time.sleep(2)

    # 자바스크립트 확인
    Alert(driver).accept()
    time.sleep(3)
    
    # 시작일 변경
    start_day = end_day + timedelta(days=1)
    print("## start_day : ", start_day)
    
    # 최종일 지정
    if start_day == datetime.strptime("2006-01-01", '%Y-%m-%d'):
        print("### The end!! start_day : ", start_day)
        break

  0%|          | 0/300 [00:00<?, ?it/s]

# end_day :  2003-01-18 00:00:00 ## start_day :  2003-01-19 00:00:00
# end_day :  2003-01-25 00:00:00 ## start_day :  2003-01-26 00:00:00
# end_day :  2003-02-01 00:00:00 ## start_day :  2003-02-02 00:00:00
# end_day :  2003-02-08 00:00:00 ## start_day :  2003-02-09 00:00:00
# end_day :  2003-02-15 00:00:00 ## start_day :  2003-02-16 00:00:00
# end_day :  2003-02-22 00:00:00 ## start_day :  2003-02-23 00:00:00
# end_day :  2003-03-01 00:00:00 ## start_day :  2003-03-02 00:00:00
# end_day :  2003-03-08 00:00:00 ## start_day :  2003-03-09 00:00:00
# end_day :  2003-03-15 00:00:00 ## start_day :  2003-03-16 00:00:00
# end_day :  2003-03-22 00:00:00 ## start_day :  2003-03-23 00:00:00
# end_day :  2003-03-29 00:00:00 ## start_day :  2003-03-30 00:00:00
# end_day :  2003-04-05 00:00:00 ## start_day :  2003-04-06 00:00:00
# end_day :  2003-04-12 00:00:00 ## start_day :  2003-04-13 00:00:00
# end_day :  2003-04-19 00:00:00 ## start_day :  2003-04-20 00:00:00
# end_day :  2003-04-26 00:00:00 ## start_day :  2003-04-27 00:00:00
# end_day :  2003-05-03 00:00:00 ## start_day :  2003-05-04 00:00:00
# end_day :  2003-05-10 00:00:00 ## start_day :  2003-05-11 00:00:00
# end_day :  2003-05-17 00:00:00 ## start_day :  2003-05-18 00:00:00
# end_day :  2003-05-24 00:00:00 ## start_day :  2003-05-25 00:00:00
# end_day :  2003-05-31 00:00:00 ## start_day :  2003-06-01 00:00:00
# end_day :  2003-06-07 00:00:00 ## start_day :  2003-06-08 00:00:00
# end_day :  2003-06-14 00:00:00 ## start_day :  2003-06-15 00:00:00
# end_day :  2003-06-21 00:00:00 ## start_day :  2003-06-22 00:00:00
# end_day :  2003-06-28 00:00:00 ## start_day :  2003-06-29 00:00:00
# end_day :  2003-07-05 00:00:00 ## start_day :  2003-07-06 00:00:00
# end_day :  2003-07-12 00:00:00 ## start_day :  2003-07-13 00:00:00
# end_day :  2003-07-19 00:00:00 ## start_day :  2003-07-20 00:00:00
# end_day :  2003-07-26 00:00:00 ## start_day :  2003-07-27 00:00:00
# end_day :  2003-08-02 00:00:00 ## start_day :  2003-08-03 00:00:00
# end_day :  2003-08-09 00:00:00 ## start_day :  2003-08-10 00:00:00
# end_day :  2003-08-16 00:00:00 ## start_day :  2003-08-17 00:00:00
# end_day :  2003-08-23 00:00:00 ## start_day :  2003-08-24 00:00:00
# end_day :  2003-08-30 00:00:00 ## start_day :  2003-08-31 00:00:00
# end_day :  2003-09-06 00:00:00 ## start_day :  2003-09-07 00:00:00
# end_day :  2003-09-13 00:00:00 ## start_day :  2003-09-14 00:00:00
# end_day :  2003-09-20 00:00:00 ## start_day :  2003-09-21 00:00:00
# end_day :  2003-09-27 00:00:00 ## start_day :  2003-09-28 00:00:00
# end_day :  2003-10-04 00:00:00 ## start_day :  2003-10-05 00:00:00
# end_day :  2003-10-11 00:00:00 ## start_day :  2003-10-12 00:00:00
# end_day :  2003-10-18 00:00:00 ## start_day :  2003-10-19 00:00:00
# end_day :  2003-10-25 00:00:00 ## start_day :  2003-10-26 00:00:00
# end_day :  2003-11-01 00:00:00 ## start_day :  2003-11-02 00:00:00
# end_day :  2003-11-08 00:00:00 ## start_day :  2003-11-09 00:00:00
# end_day :  2003-11-15 00:00:00 ## start_day :  2003-11-16 00:00:00
# end_day :  2003-11-22 00:00:00 ## start_day :  2003-11-23 00:00:00
# end_day :  2003-11-29 00:00:00 ## start_day :  2003-11-30 00:00:00
# end_day :  2003-12-06 00:00:00 ## start_day :  2003-12-07 00:00:00
# end_day :  2003-12-13 00:00:00 ## start_day :  2003-12-14 00:00:00
# end_day :  2003-12-20 00:00:00 ## start_day :  2003-12-21 00:00:00
# end_day :  2003-12-27 00:00:00 ## start_day :  2003-12-28 00:00:00
# end_day :  2004-01-03 00:00:00 ## start_day :  2004-01-04 00:00:00
# end_day :  2004-01-10 00:00:00 ## start_day :  2004-01-11 00:00:00
# end_day :  2004-01-17 00:00:00 ## start_day :  2004-01-18 00:00:00
# end_day :  2004-01-24 00:00:00 ## start_day :  2004-01-25 00:00:00
# end_day :  2004-01-31 00:00:00 ## start_day :  2004-02-01 00:00:00
# end_day :  2004-02-07 00:00:00 ## start_day :  2004-02-08 00:00:00
# end_day :  2004-02-14 00:00:00 ## start_day :  2004-02-15 00:00:00
# end_day :  2004-02-21 00:00:00 ## start_day :  2004-02-22 00:00:00
# end_day :  2004-02-28 00:00:00 ## start_day :  2004-02-29 00:00:00
# end_day :  2004-03-06 00:00:00 ## start_day :  2004-03-07 00:00:00
# end_day :  2004-03-13 00:00:00 ## start_day :  2004-03-14 00:00:00
# end_day :  2004-03-20 00:00:00 ## start_day :  2004-03-21 00:00:00
# end_day :  2004-03-27 00:00:00 ## start_day :  2004-03-28 00:00:00
# end_day :  2004-04-03 00:00:00 ## start_day :  2004-04-04 00:00:00
# end_day :  2004-04-10 00:00:00 ## start_day :  2004-04-11 00:00:00
# end_day :  2004-04-17 00:00:00 ## start_day :  2004-04-18 00:00:00
# end_day :  2004-04-24 00:00:00 ## start_day :  2004-04-25 00:00:00
# end_day :  2004-05-01 00:00:00 ## start_day :  2004-05-02 00:00:00
# end_day :  2004-05-08 00:00:00 ## start_day :  2004-05-09 00:00:00
# end_day :  2004-05-15 00:00:00 ## start_day :  2004-05-16 00:00:00
# end_day :  2004-05-22 00:00:00 ## start_day :  2004-05-23 00:00:00
# end_day :  2004-05-29 00:00:00 ## start_day :  2004-05-30 00:00:00
# end_day :  2004-06-05 00:00:00 ## start_day :  2004-06-06 00:00:00
# end_day :  2004-06-12 00:00:00 ## start_day :  2004-06-13 00:00:00
# end_day :  2004-06-19 00:00:00 ## start_day :  2004-06-20 00:00:00
# end_day :  2004-06-26 00:00:00 ## start_day :  2004-06-27 00:00:00
# end_day :  2004-07-03 00:00:00 ## start_day :  2004-07-04 00:00:00
# end_day :  2004-07-10 00:00:00 ## start_day :  2004-07-11 00:00:00
# end_day :  2004-07-17 00:00:00 ## start_day :  2004-07-18 00:00:00
# end_day :  2004-07-24 00:00:00 ## start_day :  2004-07-25 00:00:00
# end_day :  2004-07-31 00:00:00 ## start_day :  2004-08-01 00:00:00
# end_day :  2004-08-07 00:00:00 ## start_day :  2004-08-08 00:00:00
# end_day :  2004-08-14 00:00:00 ## start_day :  2004-08-15 00:00:00
# end_day :  2004-08-21 00:00:00 ## start_day :  2004-08-22 00:00:00
# end_day :  2004-08-28 00:00:00 ## start_day :  2004-08-29 00:00:00
# end_day :  2004-09-04 00:00:00 ## start_day :  2004-09-05 00:00:00
# end_day :  2004-09-11 00:00:00 ## start_day :  2004-09-12 00:00:00
# end_day :  2004-09-18 00:00:00 ## start_day :  2004-09-19 00:00:00
# end_day :  2004-09-25 00:00:00 ## start_day :  2004-09-26 00:00:00
# end_day :  2004-10-02 00:00:00 ## start_day :  2004-10-03 00:00:00
# end_day :  2004-10-09 00:00:00 ## start_day :  2004-10-10 00:00:00
# end_day :  2004-10-16 00:00:00 ## start_day :  2004-10-17 00:00:00
# end_day :  2004-10-23 00:00:00 ## start_day :  2004-10-24 00:00:00
# end_day :  2004-10-30 00:00:00 ## start_day :  2004-10-31 00:00:00
# end_day :  2004-11-06 00:00:00 ## start_day :  2004-11-07 00:00:00
# end_day :  2004-11-13 00:00:00 ## start_day :  2004-11-14 00:00:00
# end_day :  2004-11-20 00:00:00 ## start_day :  2004-11-21 00:00:00
# end_day :  2004-11-27 00:00:00 ## start_day :  2004-11-28 00:00:00
# end_day :  2004-12-04 00:00:00 ## start_day :  2004-12-05 00:00:00
# end_day :  2004-12-11 00:00:00 ## start_day :  2004-12-12 00:00:00
# end_day :  2004-12-18 00:00:00 ## start_day :  2004-12-19 00:00:00
# end_day :  2004-12-25 00:00:00 ## start_day :  2004-12-26 00:00:00
# end_day :  2005-01-01 00:00:00 ## start_day :  2005-01-02 00:00:00
# end_day :  2005-01-08 00:00:00 ## start_day :  2005-01-09 00:00:00
# end_day :  2005-01-15 00:00:00 ## start_day :  2005-01-16 00:00:00
# end_day :  2005-01-22 00:00:00 ## start_day :  2005-01-23 00:00:00
# end_day :  2005-01-29 00:00:00 ## start_day :  2005-01-30 00:00:00
# end_day :  2005-02-05 00:00:00 ## start_day :  2005-02-06 00:00:00
# end_day :  2005-02-12 00:00:00 ## start_day :  2005-02-13 00:00:00
# end_day :  2005-02-19 00:00:00 ## start_day :  2005-02-20 00:00:00
# end_day :  2005-02-26 00:00:00 ## start_day :  2005-02-27 00:00:00
# end_day :  2005-03-05 00:00:00 ## start_day :  2005-03-06 00:00:00
# end_day :  2005-03-12 00:00:00 ## start_day :  2005-03-13 00:00:00
# end_day :  2005-03-19 00:00:00 ## start_day :  2005-03-20 00:00:00
# end_day :  2005-03-26 00:00:00 ## start_day :  2005-03-27 00:00:00
# end_day :  2005-04-02 00:00:00 ## start_day :  2005-04-03 00:00:00
# end_day :  2005-04-09 00:00:00 ## start_day :  2005-04-10 00:00:00
# end_day :  2005-04-16 00:00:00 ## start_day :  2005-04-17 00:00:00
# end_day :  2005-04-23 00:00:00 ## start_day :  2005-04-24 00:00:00

# end_day :  2005-04-30 00:00:00 ## start_day :  2005-05-01 00:00:00
# end_day :  2005-05-07 00:00:00 ## start_day :  2005-05-08 00:00:00
# end_day :  2005-05-14 00:00:00 ## start_day :  2005-05-15 00:00:00
# end_day :  2005-05-21 00:00:00 ## start_day :  2005-05-22 00:00:00
# end_day :  2005-05-28 00:00:00 ## start_day :  2005-05-29 00:00:00
# end_day :  2005-06-04 00:00:00 ## start_day :  2005-06-05 00:00:00
# end_day :  2005-06-11 00:00:00 ## start_day :  2005-06-12 00:00:00
# end_day :  2005-06-18 00:00:00 ## start_day :  2005-06-19 00:00:00
# end_day :  2005-06-25 00:00:00 ## start_day :  2005-06-26 00:00:00
# end_day :  2005-07-02 00:00:00 ## start_day :  2005-07-03 00:00:00
# end_day :  2005-07-09 00:00:00 ## start_day :  2005-07-10 00:00:00
# end_day :  2005-07-16 00:00:00 ## start_day :  2005-07-17 00:00:00
# end_day :  2005-07-23 00:00:00 ## start_day :  2005-07-24 00:00:00
# end_day :  2005-07-30 00:00:00 ## start_day :  2005-07-31 00:00:00
# end_day :  2005-08-06 00:00:00 ## start_day :  2005-08-07 00:00:00
# end_day :  2005-08-13 00:00:00 ## start_day :  2005-08-14 00:00:00
# end_day :  2005-08-20 00:00:00 ## start_day :  2005-08-21 00:00:00
# end_day :  2005-08-27 00:00:00 ## start_day :  2005-08-28 00:00:00
# end_day :  2005-09-03 00:00:00 ## start_day :  2005-09-04 00:00:00
# end_day :  2005-09-10 00:00:00 ## start_day :  2005-09-11 00:00:00
# end_day :  2005-09-17 00:00:00 ## start_day :  2005-09-18 00:00:00
# end_day :  2005-09-24 00:00:00 ## start_day :  2005-09-25 00:00:00
# end_day :  2005-10-01 00:00:00 ## start_day :  2005-10-02 00:00:00
# end_day :  2005-10-08 00:00:00 ## start_day :  2005-10-09 00:00:00
# end_day :  2005-10-15 00:00:00 ## start_day :  2005-10-16 00:00:00
# end_day :  2005-10-22 00:00:00 ## start_day :  2005-10-23 00:00:00
# end_day :  2005-10-29 00:00:00 ## start_day :  2005-10-30 00:00:00
# end_day :  2005-11-05 00:00:00 ## start_day :  2005-11-06 00:00:00
# end_day :  2005-11-12 00:00:00 ## start_day :  2005-11-13 00:00:00
# end_day :  2005-11-19 00:00:00 ## start_day :  2005-11-20 00:00:00
# end_day :  2005-11-26 00:00:00 ## start_day :  2005-11-27 00:00:00
# end_day :  2005-12-03 00:00:00 ## start_day :  2005-12-04 00:00:00
# end_day :  2005-12-10 00:00:00 ## start_day :  2005-12-11 00:00:00
# end_day :  2005-12-17 00:00:00 ## start_day :  2005-12-18 00:00:00
# end_day :  2005-12-24 00:00:00 ## start_day :  2005-12-25 00:00:00
# end_day :  2005-12-31 00:00:00 ## start_day :  2006-01-01 00:00:00
### The end!! start_day :  2006-01-01 00:00:00

# 파일 합치기

In [4]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [8]:
file = glob(r'C:\KKH\1_TJE_TeamProjects\1_City_Rock\resources\3_030112_to_051231\3_data_xlsx_ver2\*.xlsx')
base = pd.read_excel(file, engine='openpyxl')

ValueError: Invalid file path or buffer object type: <class 'list'>

In [7]:
file = glob(r'C:\\KKH\\1_TJE_TeamProjects\\1_City_Rock\\resources\\3_030112_to_051231\\3_data_xlsx_ver2\\KOBIS_기간별_박스오피스_일별_2023-05-17.xlsx')[0]
base = pd.read_excel(file, engine='openpyxl')

In [14]:
base

,■ 기간별 박스오피스,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,- 조회일: 2023-05-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- 출처: 영화진흥위원회 통합전산망 (http://www.kobis.or.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,▶ 검색조건 [ 조회기간: 2003-01-12~2003-01-18 영화구분: 전...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,...,NaN,NaN,2003-01-18 00:00:00,NaN,NaN,NaN,NaN,NaN,합계,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,스크린수,상영횟수,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,매출액,관객수
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,...,0,0,0,633500,0,102,0,0,633500,102
6,합계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,633500,0,102,0,0,633500,102

In [9]:
columns_list = []
columns_list.extend(base.iloc[3][:11])
columns_list.extend(base.iloc[4][11:])
columns_list

col_list = []
col_list.extend(columns_list[0:11])
col_list.extend(['기준일'])
col_list.extend(columns_list[11:17])
col_list

['순위',
 '영화명',
 '개봉일',
 '대표국적',
 '국적',
 '제작사',
 '배급사',
 '등급',
 '장르',
 '감독',
 '배우',
 '기준일',
 '매출액',
 '누적매출액',
 '관객수',
 '누적관객수',
 '스크린수',
 '상영횟수']

In [10]:
df = pd.DataFrame(columns = col_list)
df

Empty DataFrame
Columns: [순위, 영화명, 개봉일, 대표국적, 국적, 제작사, 배급사, 등급, 장르, 감독, 배우, 기준일, 매출액, 누적매출액, 관객수, 누적관객수, 스크린수, 상영횟수]
Index: []

In [14]:
list_xlsx = glob(r'C:\KKH\1_TJE_TeamProjects\1_City_Rock\resources\3_030112_to_051231\3_data_xlsx_ver2\*.xlsx')
len(list_xlsx)

155

In [11]:
df = pd.DataFrame(columns = col_list)

for file in glob(r'C:\KKH\1_TJE_TeamProjects\1_City_Rock\resources\3_030112_to_051231\3_data_xlsx_ver2\*.xlsx'):
    base = pd.read_excel(file, engine='openpyxl')

    for i in range(11,53,6):
        try:
            info = base.iloc[5:,0:11]
            sales = base.iloc[5:, i:i+6]
            date = base.iloc[:, i:i+6].iloc[3][0]

            info['date'] = date

            data = pd.concat([info, sales],axis=1)
            data.columns = col_list
            df = pd.concat([df, data])
        
        except:
            pass

In [12]:
df1 = df[df['순위']!='합계']

In [13]:
df1

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
5,1,오페라의 유령,2004-12-08 00:00:00,미국,미국,워너 브러더스 픽쳐스,"(주)팝엔터테인먼트,(주)드림팩트엔터테인먼트,CJ ENM","12세이상관람가,12세관람가","뮤지컬,드라마",조엘 슈마허,"제라드 버틀러,에미 로섬,패트릭 윌슨,미란다 리차드슨",2004-12-12,785374500,2809708000,120110,442647,189,967
6,2,역도산,2004-12-15 00:00:00,한국,한국,"(주)싸이더스,㈜싸이더스픽쳐스",CJ ENM,12세관람가,드라마,송해성,"설경구,이명수,유병훈",2004-12-12,0,0,0,0,0,0
7,3,브리짓 존스의 일기2 : 열정과 애정,2004-12-08 00:00:00,영국,영국,"워킹 타이틀 필름,유니버셜 픽쳐스",UIP코리아,15세관람가,"멜로/로맨스,드라마",비번 키드론,"르네 젤위거,휴 그랜트,린 콜린스",2004-12-12,561298500,2022444000,83828,309262,129,855
8,4,블레이드 3,2004-12-15 00:00:00,미국,미국,뉴라인 시네마,(주)쇼박스,18세관람가,액션,데이빗 S. 고이어,"웨슬리 스나입스,라이언 레이놀즈",2004-12-12,0,0,0,0,0,0
9,5,인크레더블,2004-12-15 00:00:00,미국,미국,"월트 디즈니 픽쳐스,픽사 애니메이션 스튜디오",한국소니픽쳐스릴리징브에나비스타영화㈜,전체관람가,애니메이션,브래드 버드,"홀리 헌터,크레이그 T. 넬슨,사무엘 L. 잭슨,제이슨 리",2004-12-12,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-14,0,633500,0,102,0,0
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-15,0,633500,0,102,0,0
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-16,0,633500,0,102,0,0
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-17,0,633500,0,102,0,0
5,1,동갑내기 과외하기,2003-02-07 00:00:00,한국,한국,코리아 엔터테인먼트,CJ ENM,12세관람가,코미디,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-18,0,633500,0,102,0,0

In [15]:
df1.to_excel('./resources/2_movie_030112_to_051231_csv_excel/movies_030112_to_051231.xlsx', index=False)

In [16]:
df1.to_csv('./resources/2_movie_030112_to_051231_csv_excel/movies_030112_to_051231.csv', index=False)