In [1]:
import numpy as np
import pandas as pd

In [2]:
file_movie_range_7 = './resources/기간별_일별_170108_to_230508_수정.csv'

In [3]:
df_movies = pd.read_csv(file_movie_range_7)

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
1,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-08,1903655600,52966342965,220974,6518100,866,3186
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,4,패신저스,2017-01-04 00:00:00,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"어드벤처,SF",모튼 틸덤,"크리스 프랫,제니퍼 로렌스,마이클 쉰,앤디 가르시아,로렌스 피쉬번",2017-01-08,1107502600,4176443418,129810,504393,608,2272
4,5,얼라이드,2017-01-11 00:00:00,미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"스릴러,드라마,멜로/로맨스",로버트 저메키스,"브래드 피트,마리옹 꼬띠아르,리지 캐플란,매튜 구드,자레드 해리스",2017-01-08,0,32151000,0,3730,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626369,212,문영,2017-01-12 00:00:00,한국,한국,NaN,KT&G 상상마당 영화사업팀 컴퍼니에스에스(주),15세이상관람가,드라마,김소연,"김태리,정현,박완규,박정식",2017-01-07,0,2819699,0,350,0,0
626370,212,이올란타 & 호두까기인형,NaN,프랑스,프랑스,NaN,에스디시코리아 주식회사,전체관람가,공연,드미트리 체르니아코프,"알렉산더 침발류크,소냐 욘체바",2017-01-07,0,0,0,0,0,0
626371,212,작은 형,2016-11-30 00:00:00,한국,한국,"파인스토리,(주)인베스트하우스",파인스토리,15세이상관람가,드라마,심광진,"전석호,진용욱,민지아,이혁,박성근,김민지,김구민,김준희,김지혜,이지은,이창원,한결",2017-01-07,0,11721500,0,1853,0,0
626372,212,지옥화,1958-04-20 00:00:00,한국,한국,서울영화사,NaN,미정,"멜로/로맨스,드라마,범죄",신상옥,"김학,최은희,조해원",2017-01-07,0,5174000,0,2577,0,0
626373,212,혈맥,NaN,한국,한국,NaN,NaN,전체관람가,드라마,김수용,"김지미,황정순,최남현",2017-01-07,0,36000,0,6,0,0

In [8]:
df_movies.head(3)

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
1,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-08,1903655600,52966342965,220974,6518100,866,3186
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6

In [6]:
df_movies.tail()

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
626369,212,문영,2017-01-12 00:00:00,한국,한국,NaN,KT&G 상상마당 영화사업팀 컴퍼니에스에스(주),15세이상관람가,드라마,김소연,"김태리,정현,박완규,박정식",2017-01-07,0,2819699,0,350,0,0
626370,212,이올란타 & 호두까기인형,NaN,프랑스,프랑스,NaN,에스디시코리아 주식회사,전체관람가,공연,드미트리 체르니아코프,"알렉산더 침발류크,소냐 욘체바",2017-01-07,0,0,0,0,0,0
626371,212,작은 형,2016-11-30 00:00:00,한국,한국,"파인스토리,(주)인베스트하우스",파인스토리,15세이상관람가,드라마,심광진,"전석호,진용욱,민지아,이혁,박성근,김민지,김구민,김준희,김지혜,이지은,이창원,한결",2017-01-07,0,11721500,0,1853,0,0
626372,212,지옥화,1958-04-20 00:00:00,한국,한국,서울영화사,NaN,미정,"멜로/로맨스,드라마,범죄",신상옥,"김학,최은희,조해원",2017-01-07,0,5174000,0,2577,0,0
626373,212,혈맥,NaN,한국,한국,NaN,NaN,전체관람가,드라마,김수용,"김지미,황정순,최남현",2017-01-07,0,36000,0,6,0,0

In [9]:
df_movies.loc[df_movies['개봉일'].isna()]

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
32,33,로빈 훗의 모험,NaN,미국,미국,NaN,NaN,12세관람가,"액션,어드벤처,멜로/로맨스","마이클 커티즈,윌리엄 케일리","에롤 플린,올리비아 드 하빌랜드",2017-01-08,0,920000,0,470,0,0
34,35,나는 결백하다,NaN,미국,미국,파라마운트 픽쳐스,동양물산,NaN,"드라마,범죄,미스터리",알프레드 히치콕,"캐리 그랜트,그레이스 켈리,존 윌리엄스",2017-01-08,0,6023000,0,2464,0,0
35,36,해는 또다시 뜬다,NaN,미국,미국,이십세기폭스필름코퍼레이션,NaN,NaN,드라마,헨리 킹,"타이론 파워,에바 가드너,멜 페레,에롤 플린",2017-01-08,1056000,3563000,523,1770,1,4
37,38,어두운 통로,NaN,미국,미국,NaN,NaN,NaN,스릴러,델머 데이브즈,"험프리 보가트,로렌 바콜",2017-01-08,0,0,0,0,0,0
42,43,사랑을 합시다,NaN,미국,미국,NaN,NaN,NaN,"코미디,뮤지컬,멜로/로맨스",조지 쿠커,"마릴린 몬로,이브 몽땅,토니 랜달,윌프리드 하이드 화이트",2017-01-08,0,6378000,0,2977,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626333,179,나는 마녀와 결혼했다,NaN,미국,미국,NaN,NaN,NaN,"코미디,멜로/로맨스,판타지",르네 클레어,"프레드릭 마치,베로니카 레이크",2017-01-07,0,54000,0,12,0,0
626335,179,중국클래식애니메이션세트,NaN,중국,중국,NaN,NaN,NaN,애니메이션,NaN,NaN,2017-01-07,14000,27000,2,4,1,1
626366,212,검은 머리,NaN,한국,한국,NaN,NaN,NaN,액션,이만희,"문정숙,장동휘,이대엽",2017-01-07,0,0,0,0,0,0
626370,212,이올란타 & 호두까기인형,NaN,프랑스,프랑스,NaN,에스디시코리아 주식회사,전체관람가,공연,드미트리 체르니아코프,"알렉산더 침발류크,소냐 욘체바",2017-01-07,0,0,0,0,0,0
626373,212,혈맥,NaN,한국,한국,NaN,NaN,전체관람가,드라마,김수용,"김지미,황정순,최남현",2017-01-07,0,36000,0,6,0,0

# 아래는 영화명 Groupby

> 9개 영화를 그냥 txt 파일로 만듦

In [4]:
df1 = pd.read_csv('./resources/1_test/1_range_movie9개_test.csv')
df1

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
1,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-08,1903655600,52966342965,220974,6518100,866,3186
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-09,1178187800,10923480242,154781,1337246,801,3882
4,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-09,499322500,53465665465,65323,6583423,782,2974
5,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-09,0,9712000,0,1192,0,0
6,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-10,1141877500,12065357742,150777,1488023,805,3901
7,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-10,472805800,53938471265,62635,6646058,814,2959
8,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-10,0,9712000,0,1192,0,0

In [11]:
df1.head()

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
1,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-08,1903655600,52966342965,220974,6518100,866,3186
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-09,1178187800,10923480242,154781,1337246,801,3882
4,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-09,499322500,53465665465,65323,6583423,782,2974

In [12]:
df1['기준일'] = pd.to_datetime(df1['기준일'],format='%Y-%m-%d')

In [13]:
df1.loc[df1.groupby(['영화명'])['기준일'].idxmax()]

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
6,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-10,1141877500,12065357742,150777,1488023,805,3901
7,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-10,472805800,53938471265,62635,6646058,814,2959
8,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-10,0,9712000,0,1192,0,0

# 개봉일이 2017년 1월 1일 이후인 영화 추출

In [15]:
file_movie_range_7years = './resources/기간별_일별_170108_to_230508_수정.csv'
df_mv_7years = pd.read_csv(file_movie_range_7years)
df_mv_7years

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
1,2,마스터,2016-12-21 00:00:00,한국,한국,영화사 집,(주)씨제이이엔엠,15세이상관람가,"액션,범죄",조의석,"이병헌,강동원,김우빈,엄지원,박해수,오달수,진경,김정우,장한별,이승용,김대현,홍성덕...",2017-01-08,1903655600,52966342965,220974,6518100,866,3186
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,4,패신저스,2017-01-04 00:00:00,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"어드벤처,SF",모튼 틸덤,"크리스 프랫,제니퍼 로렌스,마이클 쉰,앤디 가르시아,로렌스 피쉬번",2017-01-08,1107502600,4176443418,129810,504393,608,2272
4,5,얼라이드,2017-01-11 00:00:00,미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"스릴러,드라마,멜로/로맨스",로버트 저메키스,"브래드 피트,마리옹 꼬띠아르,리지 캐플란,매튜 구드,자레드 해리스",2017-01-08,0,32151000,0,3730,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626369,212,문영,2017-01-12 00:00:00,한국,한국,NaN,KT&G 상상마당 영화사업팀 컴퍼니에스에스(주),15세이상관람가,드라마,김소연,"김태리,정현,박완규,박정식",2017-01-07,0,2819699,0,350,0,0
626370,212,이올란타 & 호두까기인형,NaN,프랑스,프랑스,NaN,에스디시코리아 주식회사,전체관람가,공연,드미트리 체르니아코프,"알렉산더 침발류크,소냐 욘체바",2017-01-07,0,0,0,0,0,0
626371,212,작은 형,2016-11-30 00:00:00,한국,한국,"파인스토리,(주)인베스트하우스",파인스토리,15세이상관람가,드라마,심광진,"전석호,진용욱,민지아,이혁,박성근,김민지,김구민,김준희,김지혜,이지은,이창원,한결",2017-01-07,0,11721500,0,1853,0,0
626372,212,지옥화,1958-04-20 00:00:00,한국,한국,서울영화사,NaN,미정,"멜로/로맨스,드라마,범죄",신상옥,"김학,최은희,조해원",2017-01-07,0,5174000,0,2577,0,0
626373,212,혈맥,NaN,한국,한국,NaN,NaN,전체관람가,드라마,김수용,"김지미,황정순,최남현",2017-01-07,0,36000,0,6,0,0

In [16]:
df_mv_7years['기준일'] = pd.to_datetime(df_mv_7years['기준일'],format='%Y-%m-%d')

In [18]:
df_2017 = df_mv_7years[df_mv_7years['개봉일'] >= '2017-01-01']
df_2017

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,4,패신저스,2017-01-04 00:00:00,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"어드벤처,SF",모튼 틸덤,"크리스 프랫,제니퍼 로렌스,마이클 쉰,앤디 가르시아,로렌스 피쉬번",2017-01-08,1107502600,4176443418,129810,504393,608,2272
4,5,얼라이드,2017-01-11 00:00:00,미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"스릴러,드라마,멜로/로맨스",로버트 저메키스,"브래드 피트,마리옹 꼬띠아르,리지 캐플란,매튜 구드,자레드 해리스",2017-01-08,0,32151000,0,3730,0,0
5,6,어쌔신 크리드,2017-01-11 00:00:00,미국,"미국,영국,프랑스",NaN,이십세기폭스코리아(주),15세이상관람가,"액션,어드벤처,판타지,SF",저스틴 커젤,"마이클 패스벤더,마리옹 꼬띠아르,아리안 라베드,제레미 아이언스,브렌단 글리슨,마이클...",2017-01-08,0,8289000,0,790,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626361,187,일본 온천 여행기,2017-01-05 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),칸바라 이쿠토,카미노 이즈미,2017-01-07,0,8000,0,1,0,0
626362,187,중년남과 고양이 여인의 동거,2017-01-02 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),카네다 사토시,"쿠라모치 유카,하츠미 사키",2017-01-07,0,8000,0,1,0,0
626363,187,추천 극상 오일마사지,2017-01-05 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),칸바라 나오토,나가사와 아즈사,2017-01-07,0,8000,0,1,0,0
626364,187,하드코어 미망인,2017-01-02 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),세키네 카즈미,미야노 유카나,2017-01-07,0,8000,0,1,0,0
626369,212,문영,2017-01-12 00:00:00,한국,한국,NaN,KT&G 상상마당 영화사업팀 컴퍼니에스에스(주),15세이상관람가,드라마,김소연,"김태리,정현,박완규,박정식",2017-01-07,0,2819699,0,350,0,0

In [19]:
df_2017.to_csv('./resources/기간별_일별_170101_to_230509_ver1.csv', index=False)

# 영화명 중복 체크

In [21]:
df_2017.head()

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,4,패신저스,2017-01-04 00:00:00,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"어드벤처,SF",모튼 틸덤,"크리스 프랫,제니퍼 로렌스,마이클 쉰,앤디 가르시아,로렌스 피쉬번",2017-01-08,1107502600,4176443418,129810,504393,608,2272
4,5,얼라이드,2017-01-11 00:00:00,미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"스릴러,드라마,멜로/로맨스",로버트 저메키스,"브래드 피트,마리옹 꼬띠아르,리지 캐플란,매튜 구드,자레드 해리스",2017-01-08,0,32151000,0,3730,0,0
5,6,어쌔신 크리드,2017-01-11 00:00:00,미국,"미국,영국,프랑스",NaN,이십세기폭스코리아(주),15세이상관람가,"액션,어드벤처,판타지,SF",저스틴 커젤,"마이클 패스벤더,마리옹 꼬띠아르,아리안 라베드,제레미 아이언스,브렌단 글리슨,마이클...",2017-01-08,0,8289000,0,790,0,0

In [24]:
df_n17 = df_2017.loc[df_2017.groupby('영화명')['개봉일'].count()]

KeyError: '[98, 42, 21, 7, 35, 133, 49, 126, 147, 56, 28, 273, 175, 91, 182, 161, 224, 140, 525, 112, 119, 154, 210, 343, 238, 385, 308, 203, 294, 490, 427, 483, 259, 252, 1029, 546, 1393, 287, 168, 266, 357, 392, 322, 364, 329, 637, 532, 336, 399, 350, 511, 567, 553, 735, 420, 315] not in index'

In [27]:
df_2017[df_2017.groupby('영화명')['개봉일'].count() > 1]

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_16260\2811396703.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_2017[df_2017.groupby('영화명')['개봉일'].count() > 1]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [34]:
print(df_2017.groupby(['영화명','국적'])['국적'].count())

영화명                국적
#살아있다              한국      98
#아이엠히어             프랑스     42
#위왓치유              기타      84
#해시태그              한국      14
0.0MHz             한국      42
                         ...
힐빌리의 노래            미국      77
힘 좋은 시아버지와 착한 며느리  한국       7
힘을 내요, 미스터 리       한국     105
힘좋은 시아버지와 베란다      일본       7
ＡＶ여배우의 자취방         일본       7
Name: 국적, Length: 11610, dtype: int64

In [35]:
df_2017.columns

Index(['순위', '영화명', '개봉일', '대표국적', '국적', '제작사', '배급사', '등급', '장르', '감독', '배우',
       '기준일', '매출액', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수'],
      dtype='object')

In [37]:
# 중복 영화 제거
df_unique_movies = df_2017.drop_duplicates(subset=['영화명'], keep=False)

# 중복 영화를 다시 선택하고, 영화명과 개봉일로 그룹화하여 개수 세기
df_duplicate_movies = df_2017[df_2017.duplicated(subset=['영화명'], keep=False)]
df_duplicate_movie_counts = df_duplicate_movies.groupby(['영화명', '개봉일']).size().reset_index(name='개수')

# 개수가 2 이상인 경우만 선택하여 출력
df_duplicate_movie_counts[df_duplicate_movie_counts['개수'] >= 2]

                     영화명                  개봉일   개수
0                  #살아있다  2020-06-24 00:00:00   98
1                 #아이엠히어  2021-01-14 00:00:00   42
2                  #위왓치유  2021-06-03 00:00:00   84
3                  #해시태그  2022-06-01 00:00:00   14
4                 0.0MHz  2019-05-29 00:00:00   42
...                  ...                  ...  ...
11629            힐빌리의 노래  2020-11-11 00:00:00   77
11630  힘 좋은 시아버지와 착한 며느리  2021-03-18 00:00:00    7
11631       힘을 내요, 미스터 리  2019-09-11 00:00:00  105
11632      힘좋은 시아버지와 베란다  2019-06-03 00:00:00    7
11633         ＡＶ여배우의 자취방  2017-05-01 00:00:00    7

[11634 rows x 3 columns]

In [48]:
df_duplicate_movies.groupby(['영화명', '개봉일']).size()

영화명                개봉일
#살아있다              2020-06-24 00:00:00     98
#아이엠히어             2021-01-14 00:00:00     42
#위왓치유              2021-06-03 00:00:00     84
#해시태그              2022-06-01 00:00:00     14
0.0MHz             2019-05-29 00:00:00     42
                                         ...
힐빌리의 노래            2020-11-11 00:00:00     77
힘 좋은 시아버지와 착한 며느리  2021-03-18 00:00:00      7
힘을 내요, 미스터 리       2019-09-11 00:00:00    105
힘좋은 시아버지와 베란다      2019-06-03 00:00:00      7
ＡＶ여배우의 자취방         2017-05-01 00:00:00      7
Length: 11634, dtype: int64

In [45]:
df_movie_1 = df_duplicate_movie_counts.groupby(['영화명', '개봉일']).size().reset_index(name='개수')

In [46]:
df_movie_1[df_movie_1['개수']>1]

Empty DataFrame
Columns: [영화명, 개봉일, 개수]
Index: []

In [53]:
df_movie_1[df_movie_1['개수']==1]

                     영화명                  개봉일  개수
0                  #살아있다  2020-06-24 00:00:00   1
1                 #아이엠히어  2021-01-14 00:00:00   1
2                  #위왓치유  2021-06-03 00:00:00   1
3                  #해시태그  2022-06-01 00:00:00   1
4                 0.0MHz  2019-05-29 00:00:00   1
...                  ...                  ...  ..
11629            힐빌리의 노래  2020-11-11 00:00:00   1
11630  힘 좋은 시아버지와 착한 며느리  2021-03-18 00:00:00   1
11631       힘을 내요, 미스터 리  2019-09-11 00:00:00   1
11632      힘좋은 시아버지와 베란다  2019-06-03 00:00:00   1
11633         ＡＶ여배우의 자취방  2017-05-01 00:00:00   1

[11634 rows x 3 columns]

In [52]:
df_duplicate_movie_counts[df_duplicate_movie_counts['개수'] > 1000]

          영화명                  개봉일    개수
1385   날씨의 아이  2019-10-30 00:00:00  1029
1820  너의 이름은.  2017-01-04 00:00:00  1393
5007     산상수훈  2017-12-07 00:00:00  1029

In [55]:
df_duplicate_movies

,순위,영화명,개봉일,대표국적,국적,제작사,배급사,등급,장르,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,너의 이름은.,2017-01-04 00:00:00,일본,일본,NaN,플러스엠 엔터테인먼트,12세이상관람가,"애니메이션,드라마,멜로/로맨스",신카이 마코토,"카미키 류노스케,카미시라이시 모네,나가사와 마사미,이치하라 에수코,유키 아오이,시마...",2017-01-08,2809088900,9745292442,333008,1182465,947,4101
2,3,모아나,2017-01-12 00:00:00,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,전체관람가,애니메이션,"론 클레멘츠,존 머스커","드웨인 존슨,아우이 크라발호,알란 터딕,제메인 클레멘트,테무에라 모리슨",2017-01-08,7738000,9712000,910,1192,6,6
3,4,패신저스,2017-01-04 00:00:00,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),12세이상관람가,"어드벤처,SF",모튼 틸덤,"크리스 프랫,제니퍼 로렌스,마이클 쉰,앤디 가르시아,로렌스 피쉬번",2017-01-08,1107502600,4176443418,129810,504393,608,2272
4,5,얼라이드,2017-01-11 00:00:00,미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,15세이상관람가,"스릴러,드라마,멜로/로맨스",로버트 저메키스,"브래드 피트,마리옹 꼬띠아르,리지 캐플란,매튜 구드,자레드 해리스",2017-01-08,0,32151000,0,3730,0,0
5,6,어쌔신 크리드,2017-01-11 00:00:00,미국,"미국,영국,프랑스",NaN,이십세기폭스코리아(주),15세이상관람가,"액션,어드벤처,판타지,SF",저스틴 커젤,"마이클 패스벤더,마리옹 꼬띠아르,아리안 라베드,제레미 아이언스,브렌단 글리슨,마이클...",2017-01-08,0,8289000,0,790,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
626361,187,일본 온천 여행기,2017-01-05 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),칸바라 이쿠토,카미노 이즈미,2017-01-07,0,8000,0,1,0,0
626362,187,중년남과 고양이 여인의 동거,2017-01-02 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),카네다 사토시,"쿠라모치 유카,하츠미 사키",2017-01-07,0,8000,0,1,0,0
626363,187,추천 극상 오일마사지,2017-01-05 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),칸바라 나오토,나가사와 아즈사,2017-01-07,0,8000,0,1,0,0
626364,187,하드코어 미망인,2017-01-02 00:00:00,일본,일본,NaN,(주)도키엔터테인먼트,청소년관람불가,성인물(에로),세키네 카즈미,미야노 유카나,2017-01-07,0,8000,0,1,0,0
626369,212,문영,2017-01-12 00:00:00,한국,한국,NaN,KT&G 상상마당 영화사업팀 컴퍼니에스에스(주),15세이상관람가,드라마,김소연,"김태리,정현,박완규,박정식",2017-01-07,0,2819699,0,350,0,0

In [ ]:
# 중복 없음