### 역대 top200 영화 통계정보 데이터 합치기

In [59]:
import pandas as pd
import numpy as np
import openpyxl

In [60]:
d = pd.DataFrame()
for i in range(1, 201):
    # Excel 파일 불러오기 (200개 하나씩)
    filename = f'Data/stat_ch/KOBIS_일자별_통계정보_2023-05-11 ({i}).xlsx'
    df = pd.read_excel(filename, header=3)
    # Excel 내에 있는 제목 불러오기
    wb = openpyxl.load_workbook(filename, data_only = True)
    ws = wb.active
    name = ws['A1'].value
    name = name.split(' ')[1].split("'")[1]
    # 제목 컬럼 df에 삽입
    df.insert(0,'movie name',name)
    # dataframe에 합치기
    d = pd.concat([d, df])
d.to_csv('Data/MovieStat.csv', index = False)

In [61]:
df = pd.read_csv('Data/MovieStat.csv')
df.head()

,movie name,날짜,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,매출액증감(전일대비),관객수,관객수증감(전일대비),누적매출액,누적관객수,순위
0,명량,2014-07-20,1,0.000,1,0.000,238,0.000,1.000,1428000,1428000 ( 100.0% ),238,238 ( 100.0% ),1428000,238,34
1,명량,2014-07-21,18,0.005,28,0.002,7241,0.003,0.741,44016000,42588000 ( 2982.4% ),5369,5131 ( 2155.9% ),45444000,5607,7
2,명량,2014-07-22,37,0.010,38,0.003,5600,0.003,0.099,4416000,-39600000 ( -90.0% ),552,-4817 ( -89.7% ),49860000,6159,22
3,명량,2014-07-23,4,0.001,4,0.000,837,0.000,1.000,6696000,2280000 ( 51.6% ),837,285 ( 51.6% ),56556000,6996,9
4,명량,2014-07-24,8,0.002,10,0.001,1741,0.001,1.086,14979000,8283000 ( 123.7% ),1890,1053 ( 125.8% ),71535000,8886,9

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24164 entries, 0 to 24163
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie name   24164 non-null  object
 1   날짜           24164 non-null  object
 2   스크린수         24164 non-null  int64
 3   스크린점유율       24164 non-null  float64
 4   상영횟수         24164 non-null  int64
 5   상영점유율        24164 non-null  float64
 6   좌석수          24164 non-null  int64
 7   좌석점유율        24164 non-null  float64
 8   좌석판매율        24164 non-null  float64
 9   매출액          24164 non-null  int64
 10  매출액증감(전일대비)  24164 non-null  object
 11  관객수          24164 non-null  int64
 12  관객수증감(전일대비)  24164 non-null  object
 13  누적매출액        24164 non-null  int64
 14  누적관객수        24164 non-null  int64
 15  순위           24164 non-null  int64
dtypes: float64(4), int64(8), object(4)
memory usage: 2.9+ MB

In [63]:
df.describe()

,스크린수,스크린점유율,상영횟수,상영점유율,좌석수,좌석점유율,좌석판매율,매출액,관객수,누적매출액,누적관객수,순위
count,24164.000000,24164.000000,24164.000000,24164.000000,2.416400e+04,24164.000000,24164.000000,2.416400e+04,2.416400e+04,2.416400e+04,2.416400e+04,24164.000000
mean,251.202160,0.059822,1036.752773,0.071763,1.862218e+05,0.078570,0.241601,4.180169e+08,5.285015e+04,4.494255e+10,5.656429e+06,28.266471
std,401.559812,0.087708,1870.620960,0.120410,3.414166e+05,0.138249,0.255231,1.042378e+09,1.263551e+05,2.944749e+10,3.488451e+06,30.907998
min,1.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,-0.005000,-1.400000e+04,-2.000000e+00,0.000000e+00,0.000000e+00,1.000000
25%,2.000000,0.000000,2.000000,0.000000,4.080000e+02,0.000000,0.069000,3.520000e+05,5.200000e+01,2.779807e+10,3.637138e+06,3.000000
50%,25.000000,0.006000,40.000000,0.003000,5.861000e+03,0.003000,0.151000,6.983750e+06,9.050000e+02,3.733957e+10,4.750094e+06,15.000000
75%,387.000000,0.104000,1429.000000,0.111000,2.286748e+05,0.104000,0.318000,3.061868e+08,4.039775e+04,5.714008e+10,7.311411e+06,47.000000
max,2948.000000,0.580000,16220.000000,0.809000,2.710933e+06,0.850000,5.583000,1.497001e+10,1.662469e+06,1.396555e+11,1.761592e+07,171.000000