# 액션영화 흥행 비율

In [7]:
import pandas as pd
import numpy as np

In [8]:
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False  # minus 표시
plt.rc('font', family='Malgun Gothic')

In [9]:
# 이상치 제거 파일 2003-2022 파일 전체 국적 비교

In [12]:
file_path = "(완)[KOBIS] 박스오피스_일별(2003~2022)_장르_수정.csv"
mv_all = pd.read_csv(file_path)
mv_all
file_path2 = '누적관객수_백만명_이상_766개.csv'
mv_million = pd.read_csv(file_path2)

In [13]:
mv_million

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,34,명량,2014-07-30,15세이상관람가,"사극,액션",한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,...",2014-07-20,1428000,1428000,238,238,1,1
1,7,명량,2014-07-30,15세이상관람가,"사극,액션",한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,...",2014-07-21,44016000,45444000,5369,5607,18,28
2,22,명량,2014-07-30,15세이상관람가,"사극,액션",한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,...",2014-07-22,4416000,49860000,552,6159,37,38
3,9,명량,2014-07-30,15세이상관람가,"사극,액션",한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,...",2014-07-23,6696000,56556000,837,6996,4,4
4,9,명량,2014-07-30,15세이상관람가,"사극,액션",한국,한국,(주)빅스톤픽쳐스,(주)씨제이이엔엠,김한민,"최민식,류승룡,조진웅,김명곤,진구,이정현,권율,노민우,이승준,오타니 료헤이,박보검,...",2014-07-24,14979000,71535000,1890,8886,8,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65789,58,스카이스크래퍼,2018-07-11,12세이상관람가,"액션,스릴러",미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),로슨 마샬 터버,"드웨인 존슨,파블로 쉬레이버,니브 캠벨,바이런 만,친 한",2018-08-24,496000,8610218718,65,1002606,2,2
65790,59,스카이스크래퍼,2018-07-11,12세이상관람가,"액션,스릴러",미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),로슨 마샬 터버,"드웨인 존슨,파블로 쉬레이버,니브 캠벨,바이런 만,친 한",2018-08-25,503000,8610721718,66,1002672,2,2
65791,49,스카이스크래퍼,2018-07-11,12세이상관람가,"액션,스릴러",미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),로슨 마샬 터버,"드웨인 존슨,파블로 쉬레이버,니브 캠벨,바이런 만,친 한",2018-08-26,483000,8611204718,65,1002737,2,2
65792,46,스카이스크래퍼,2018-07-11,12세이상관람가,"액션,스릴러",미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),로슨 마샬 터버,"드웨인 존슨,파블로 쉬레이버,니브 캠벨,바이런 만,친 한",2018-08-27,457000,8611661718,61,1002798,2,2
65793,48,스카이스크래퍼,2018-07-11,12세이상관람가,"액션,스릴러",미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),로슨 마샬 터버,"드웨인 존슨,파블로 쉬레이버,니브 캠벨,바이런 만,친 한",2018-08-28,450000,8612111718,60,1002858,2,2

In [14]:
mv_all

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482747,34,애프터 양,2022-06-01,전체관람가,"드라마,SF",미국,미국,NaN,"(주)영화특별시에스엠씨,주식회사 왓챠",코고나다,콜린 파렐,2022-12-31,629910,389758300,90,40233,1,1
482748,31,더 메뉴,2022-12-07,15세이상관람가,스릴러,미국,미국,NaN,월트디즈니컴퍼니코리아 유한책임회사,마크 미로드,"랄프 파인즈,안야 테일러 조이,니콜라스 홀트,자넷 맥티어,주디스 라이트,존 레귀자모",2022-12-31,1047000,320680200,107,31360,3,3
482749,28,양자경의 더 모든 날 모든 순간,2022-11-23,15세이상관람가,"액션,코미디",미국,미국,NaN,워터홀컴퍼니(주),"다니엘 콴,다니엘 쉐이너트","양자경,스테파니 수,키 호이 콴,제이미 리 커티스",2022-12-31,2703789,291016371,276,27325,7,8
482750,26,캐리와 슈퍼콜라,2023-01-18,전체관람가,애니메이션,한국,한국,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,"오성윤,이춘백","최정윤,엄상현,이다은,원옥화,정주원,이창민,한상태,김지정,강나후,김신비,소경호",2022-12-31,3993000,3993000,295,295,1,1
482751,30,수라,2023-06-21,전체관람가,다큐멘터리,한국,한국,"스튜디오두마,미디어나무(주)",스튜디오 에이드,황윤,황윤,2022-12-31,770000,3722000,110,481,1,1

In [15]:
mv_all['개봉일'] = pd.to_datetime(mv_all['개봉일'], format='%Y-%m-%d')
mv_all['기준일'] = pd.to_datetime(mv_all['기준일'], format='%Y-%m-%d')

In [ ]:
# 코드 짜는중...

In [16]:
mv_all_sorted = mv_all.sort_values(['기준일','순위'], ascending=False)
mv_all_sorted

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
482685,100,나나,2022-12-15,15세이상관람가,드라마,인도네시아,인도네시아,NaN,M&M 인터내셔널,NaN,NaN,2022-12-31,0,8896499,0,1026,1,1
482686,100,성덕,2022-09-28,12세이상관람가,다큐멘터리,한국,한국,해랑사,오드,오세연,오세연,2022-12-31,0,109161892,0,12565,1,1
482687,100,더 게임,2022-12-08,15세이상관람가,"드라마,스릴러",헝가리,헝가리,NaN,알토미디어(주),페테르 퍼자카스,가브리엘라 하모리,2022-12-31,0,4423699,0,538,1,1
482683,87,초선,2022-11-03,12세이상관람가,다큐멘터리,한국,한국,"디아스포라 필름,포핸즈스토리",커넥트픽쳐스(주),전후석,NaN,2022-12-31,8000,33585796,1,4118,1,1
482688,87,휴가,2016-12-08,12세이상관람가,"가족,드라마",한국,한국,㈜리필름,㈜리필름,이수성,"고원,전주우,김예린,손희순",2022-12-31,10000,4617700,1,666,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,4,아이덴티티,2003-10-31,15세관람가,"범죄,스릴러",미국,미국,콜럼비아트라이스타,콜럼비아트라이스타,제임스 맨골드,"존 쿠삭,레이 리오타",2003-11-11,821000,821000,102,102,1,4
3,3,황산벌,2003-10-17,15세관람가,코미디,한국,한국,(주)씨네월드,(주)씨네월드,이준익,"박중훈,정진영,오지명,김병철,김선아,김윤태,이문식,조대은,김만수,김현두,나수원,조철...",2003-11-11,1257000,1257000,116,116,1,3
2,2,위대한 유산,2003-10-24,15세관람가,코미디,한국,한국,CJ ENM,CJ ENM,오상훈,"김선아,임창정,최무인,송은정,홍금봉,신성아,김대중,오유진,유순철,신이,모지은,김기천...",2003-11-11,1658000,1658000,177,177,1,3
1,1,매트릭스3 레볼루션,2003-11-05,15세관람가,"SF,액션,범죄",미국,미국,NaN,워너브러더스 코리아(주),"릴리 워쇼스키,라나 워쇼스키","키아누 리브스,로렌스 피쉬번,캐리 앤 모스",2003-11-11,7676000,7676000,870,870,6,16
0,1,동갑내기 과외하기,2003-02-07,12세관람가,코미디,한국,한국,코리아 엔터테인먼트,CJ ENM,김경형,"김하늘,권상우,공유,김지우,백일섭,김혜옥,김자옥,오승근,이성진,손영민,송병철,신지현...",2003-01-12,633500,633500,102,102,1,1

In [17]:
mv_all_gp = mv_all_sorted.loc[mv_all_sorted.groupby(['영화명', '개봉일'])['기준일'].idxmax()]
mv_all_gp

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
409054,29,#살아있다,2020-06-24,15세이상관람가,드라마,한국,한국,"영화사 집,(주)퍼스펙티브픽쳐스",롯데컬처웍스(주)롯데엔터테인먼트,조일형,"유아인,박신혜,전배수,고나영,권용채,김경태,김다영,김단비,김라희,김미래,김미래,김윤...",2020-10-28,2890000,15968219900,289,1903992,2,2
420077,57,#아이엠히어,2021-01-14,12세이상관람가,"멜로/로맨스,코미디",프랑스,프랑스,NaN,(주)넥스트엔터테인먼트월드(NEW),에릭 라티고,"알랭 샤바,배두나,이명자,선종남,김자금,강현중,정윤하,송경의,엄지만,남승화,이지민,...",2021-02-09,82000,136875710,11,16404,6,6
478854,51,#위왓치유,2021-06-03,청소년관람불가,다큐멘터리,기타,기타,NaN,찬란,"바르보라 차르포바,비트 클루삭",NaN,2022-11-22,288000,16759950,48,1908,1,1
284094,108,...ing,2003-11-28,12세관람가,"드라마,멜로/로맨스",한국,한국,드림맥스(주),(주)튜브엔터테인먼트,이언희,"임수정,김래원,이미숙,김지영,김현수,박혜연,장미,이성경,박소연,김순애,최덕문,김인문...",2017-03-19,5000,217487000,1,34308,1,1
362083,84,0.0MHz,2019-05-29,15세이상관람가,공포(호러),한국,한국,(주)제이엠컬쳐스,(주)스마일이엔티,유선동,"정은지,이성열,최윤영,신주환,정원창,박명신,남관효,박대희,노혜영,서진석,김대현,신승...",2019-06-28,84000,1088258860,12,137294,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427292,90,"힘내세요, 병헌씨",2013-06-27,15세이상관람가,"코미디,드라마",한국,한국,NaN,㈜인디스토리,이병헌,"홍완표,양현민,김영현,허준석,이재광,이창한,정현정,조휘상,강호규,강호규,김수완,황인...",2021-04-21,7000,28862600,1,3980,1,1
379736,15,"힘을 내요, 미스터 리",2019-09-11,12세이상관람가,"코미디,드라마",한국,한국,"(주)용필름,(주)덱스터스튜디오",(주)넥스트엔터테인먼트월드(NEW),이계벽,"차승원,엄채영,박해준,김혜옥,안길강,전혜빈,류한비,조한철,성지루,김법래,정원중,신현...",2019-12-28,10950000,9930518906,1095,1181960,5,5
238564,99,힙스터: 안개의 덫,2015-10-21,청소년관람불가,"멜로/로맨스,드라마",한국,한국,(주)마부엔터테인먼트,고구마콘텐츠허브(주),강명진,"유사라,김동윤,정종우,류아진,박민규,강인화",2015-10-21,5000,5000,1,1,1,1
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1
288418,101,ＡＶ여배우의 자취방,2017-05-01,청소년관람불가,멜로/로맨스,일본,일본,NaN,(주)도키엔터테인먼트,후지모리 에이지,NaN,2017-05-01,8000,8000,1,1,1,1

In [18]:
# boolean 값 추출
bool_action = mv_all_gp['장르'].str.contains('액션')
bool_thriller = mv_all_gp['장르'].str.contains('스릴러')
bool_adventure= mv_all_gp['장르'].str.contains('어드벤처')
bool_comedy= mv_all_gp['장르'].str.contains('코미디')

In [22]:
act_adv = mv_all_gp[bool_action & bool_adventure]
act_thriller = mv_all_gp[bool_action & bool_thriller]

In [24]:
mv_action = mv_all_gp[bool_action]
mv_action

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수
451191,87,007 노 타임 투 다이,2021-09-29,12세이상관람가,액션,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),캐리 후쿠나가,"다니엘 크레이그,라미 말렉,라샤냐 린치,레아 세이두,벤 위쇼,아나 디 아르마스,나오...",2021-12-27,60000,12009884680,3,1229971,1,1
241462,67,007 북경특급 2,2014-05-01,15세이상관람가,"코미디,액션",홍콩,홍콩,NaN,(주)케이알씨지,"주성치,곡덕소",주성치,2015-11-23,41000,1010000,7,344,3,3
163198,44,007 스카이폴,2012-10-26,15세이상관람가,액션,미국,"미국,영국",NaN,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),샘 멘데스,"다니엘 크레이그,하비에르 바르뎀,주디 덴치,랄프 파인즈,나오미 해리스,베레니스 말로에",2013-02-02,345000,17487818000,69,2376266,1,1
245155,49,007 스펙터,2015-11-11,15세이상관람가,"액션,어드벤처,범죄,스릴러",영국,"영국,미국",NaN,유니버설픽쳐스인터내셔널 코리아(유),샘 멘데스,"다니엘 크레이그,레아 세이두,크리스토프 왈츠,모니카 벨루치",2016-01-02,656000,14302132030,82,1820842,1,1
369377,58,007 제2편 : 위기일발,1973-09-21,NaN,"액션,어드벤처",영국,영국,이온 프로덕션,NaN,테렌스 영,숀 코네리,2019-09-21,170000,15113000,85,7448,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236209,40,히트맨: 에이전트 47,2015-09-03,15세이상관람가,"액션,범죄,스릴러",미국,미국,NaN,이십세기폭스코리아(주),알렉산더 바흐,"루퍼트 프렌드,재커리 퀸토,한나 웨어",2015-09-22,358000,502308500,70,64157,1,1
477051,120,히트맨: 코드네임 버튜소,2022-11-03,15세이상관람가,"액션,스릴러",미국,미국,NaN,(주)누리픽쳐스,NaN,"앤슨 마운트,애비 코니시,안소니 홉킨스",2022-11-03,6000,6000,1,1,1,1
235535,93,히트스트로크,2015-09-15,15세이상관람가,"액션,스릴러",미국,미국,NaN,(주)박수엔터테인먼트,에버린 퍼셀,"스티븐 도프,메이지 윌리암스,스베트라나 멧키나",2015-09-15,15000,15000,2,2,2,2
267187,108,히틀러 좀비 군단 : 벙커 오브 더 데드,2016-09-21,청소년관람불가,"액션,SF,공포(호러)",독일,독일,NaN,(주)도키엔터테인먼트,마티아스 올로프,NaN,2016-09-21,8000,8000,1,1,1,1
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1

In [26]:
mv_action_add = mv_action[:]
mv_action_add['장르LIST'] = mv_action_add['장르'].apply(lambda x : str(x).split(','))
mv_action_add

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_6340\2351240898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mv_action_add['장르LIST'] = mv_action_add['장르'].apply(lambda x : str(x).split(','))

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,장르LIST
451191,87,007 노 타임 투 다이,2021-09-29,12세이상관람가,액션,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),캐리 후쿠나가,"다니엘 크레이그,라미 말렉,라샤냐 린치,레아 세이두,벤 위쇼,아나 디 아르마스,나오...",2021-12-27,60000,12009884680,3,1229971,1,1,[액션]
241462,67,007 북경특급 2,2014-05-01,15세이상관람가,"코미디,액션",홍콩,홍콩,NaN,(주)케이알씨지,"주성치,곡덕소",주성치,2015-11-23,41000,1010000,7,344,3,3,"[코미디, 액션]"
163198,44,007 스카이폴,2012-10-26,15세이상관람가,액션,미국,"미국,영국",NaN,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),샘 멘데스,"다니엘 크레이그,하비에르 바르뎀,주디 덴치,랄프 파인즈,나오미 해리스,베레니스 말로에",2013-02-02,345000,17487818000,69,2376266,1,1,[액션]
245155,49,007 스펙터,2015-11-11,15세이상관람가,"액션,어드벤처,범죄,스릴러",영국,"영국,미국",NaN,유니버설픽쳐스인터내셔널 코리아(유),샘 멘데스,"다니엘 크레이그,레아 세이두,크리스토프 왈츠,모니카 벨루치",2016-01-02,656000,14302132030,82,1820842,1,1,"[액션, 어드벤처, 범죄, 스릴러]"
369377,58,007 제2편 : 위기일발,1973-09-21,NaN,"액션,어드벤처",영국,영국,이온 프로덕션,NaN,테렌스 영,숀 코네리,2019-09-21,170000,15113000,85,7448,1,4,"[액션, 어드벤처]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236209,40,히트맨: 에이전트 47,2015-09-03,15세이상관람가,"액션,범죄,스릴러",미국,미국,NaN,이십세기폭스코리아(주),알렉산더 바흐,"루퍼트 프렌드,재커리 퀸토,한나 웨어",2015-09-22,358000,502308500,70,64157,1,1,"[액션, 범죄, 스릴러]"
477051,120,히트맨: 코드네임 버튜소,2022-11-03,15세이상관람가,"액션,스릴러",미국,미국,NaN,(주)누리픽쳐스,NaN,"앤슨 마운트,애비 코니시,안소니 홉킨스",2022-11-03,6000,6000,1,1,1,1,"[액션, 스릴러]"
235535,93,히트스트로크,2015-09-15,15세이상관람가,"액션,스릴러",미국,미국,NaN,(주)박수엔터테인먼트,에버린 퍼셀,"스티븐 도프,메이지 윌리암스,스베트라나 멧키나",2015-09-15,15000,15000,2,2,2,2,"[액션, 스릴러]"
267187,108,히틀러 좀비 군단 : 벙커 오브 더 데드,2016-09-21,청소년관람불가,"액션,SF,공포(호러)",독일,독일,NaN,(주)도키엔터테인먼트,마티아스 올로프,NaN,2016-09-21,8000,8000,1,1,1,1,"[액션, SF, 공포(호러)]"
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1,"[액션, 범죄, 스릴러]"

In [27]:
mv_action_explode = mv_action_add.explode('장르LIST')
mv_action_explode

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,장르LIST
451191,87,007 노 타임 투 다이,2021-09-29,12세이상관람가,액션,미국,미국,NaN,유니버설픽쳐스인터내셔널 코리아(유),캐리 후쿠나가,"다니엘 크레이그,라미 말렉,라샤냐 린치,레아 세이두,벤 위쇼,아나 디 아르마스,나오...",2021-12-27,60000,12009884680,3,1229971,1,1,액션
241462,67,007 북경특급 2,2014-05-01,15세이상관람가,"코미디,액션",홍콩,홍콩,NaN,(주)케이알씨지,"주성치,곡덕소",주성치,2015-11-23,41000,1010000,7,344,3,3,코미디
241462,67,007 북경특급 2,2014-05-01,15세이상관람가,"코미디,액션",홍콩,홍콩,NaN,(주)케이알씨지,"주성치,곡덕소",주성치,2015-11-23,41000,1010000,7,344,3,3,액션
163198,44,007 스카이폴,2012-10-26,15세이상관람가,액션,미국,"미국,영국",NaN,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주),샘 멘데스,"다니엘 크레이그,하비에르 바르뎀,주디 덴치,랄프 파인즈,나오미 해리스,베레니스 말로에",2013-02-02,345000,17487818000,69,2376266,1,1,액션
245155,49,007 스펙터,2015-11-11,15세이상관람가,"액션,어드벤처,범죄,스릴러",영국,"영국,미국",NaN,유니버설픽쳐스인터내셔널 코리아(유),샘 멘데스,"다니엘 크레이그,레아 세이두,크리스토프 왈츠,모니카 벨루치",2016-01-02,656000,14302132030,82,1820842,1,1,액션
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267187,108,히틀러 좀비 군단 : 벙커 오브 더 데드,2016-09-21,청소년관람불가,"액션,SF,공포(호러)",독일,독일,NaN,(주)도키엔터테인먼트,마티아스 올로프,NaN,2016-09-21,8000,8000,1,1,1,1,SF
267187,108,히틀러 좀비 군단 : 벙커 오브 더 데드,2016-09-21,청소년관람불가,"액션,SF,공포(호러)",독일,독일,NaN,(주)도키엔터테인먼트,마티아스 올로프,NaN,2016-09-21,8000,8000,1,1,1,1,공포(호러)
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1,액션
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1,범죄
43736,59,힛쳐,2007-08-01,청소년관람불가,"액션,범죄,스릴러",미국,미국,NaN,(주)씨지브이신도림,데이브 메이어스,"숀 빈,소피아 부시,자크리 나이튼,닐 맥도노프",2007-08-13,7000,153080000,1,23025,1,1,스릴러

### '장르LIST' 컬럼 기준으로 한글 순서대로 정렬

In [53]:
action_gerne_ordered = mv_action_explode.sort_values('장르LIST', ascending=True)
action_gerne_ordered

,순위,영화명,개봉일,등급,장르,대표국적,국적,제작사,배급사,감독,배우,기준일,매출액,누적매출액,관객수,누적관객수,스크린수,상영횟수,장르LIST
357048,103,에일리언: 지구 침공의 날,2019-05-01,15세이상관람가,"액션,SF",미국,미국,NaN,(주)소나무픽쳐스,"마이클 갤밴,세바스찬 바질",NaN,2019-05-01,5000,5000,1,1,1,1,SF
211135,102,트랜스포머: 사라진 시대,2014-06-25,12세이상관람가,"액션,SF,어드벤처",미국,미국,NaN,(주)씨제이이엔엠,마이클 베이,"마크 월버그,제시카 고메즈,니콜라 펠츠,잭 레이너,스탠리 투치,리빙빙",2014-10-28,0,44012752845,0,5295836,1,2,SF
296073,24,트랜스포머: 최후의 기사,2017-06-21,12세이상관람가,"액션,어드벤처,SF",미국,미국,NaN,롯데쇼핑㈜롯데엔터테인먼트,마이클 베이,"마크 월버그,안소니 홉킨스,로라 하드독,조쉬 더하멜",2017-07-26,1638000,21501959228,273,2614601,1,1,SF
201989,55,트랜스포머: 패자의 역습,2009-06-24,12세이상관람가,"SF,액션,어드벤처",미국,미국,"드림웍스 SKG,파라마운트 픽쳐스",CJ ENM,마이클 베이,"샤이아 라보프,메간 폭스",2014-06-24,178000,50699866000,36,7393443,2,2,SF
204090,73,엑스맨: 데이즈 오브 퓨처 패스트,2014-05-22,12세이상관람가,"액션,판타지,SF,어드벤처",미국,미국,NaN,이십세기폭스코리아(주),브라이언 싱어,"휴 잭맨,제임스 맥어보이,마이클 패스벤더,제니퍼 로렌스,할리 베리,엘렌 페이지",2014-07-22,220000,34654558766,26,4313871,1,1,SF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227526,51,워리어 스타,2015-05-21,15세이상관람가,"액션,어드벤처,판타지",이탈리아,이탈리아,NaN,주식회사 루믹스미디어,"루카 보니,마르코 리스토리",에드리언 보쳇,2015-05-21,200000,200000,40,40,1,1,판타지
49454,46,데이 워치,2007-11-08,15세이상관람가,"액션,공포(호러),판타지,SF",러시아,러시아,NaN,이십세기폭스필름코퍼레이션,티무르 베크맘베토브,"콘스탄틴 카벤스키,마리아 포로시나",2007-11-20,42000,4453000,6,667,1,1,판타지
303096,90,몽키킹 VS 구미호 대결전,2017-09-28,15세이상관람가,"액션,판타지,코미디",중국,중국,NaN,(주)케이알씨지,메이 천,NaN,2017-10-11,4000,107000,2,45,2,2,판타지
280010,75,몽키킹 히어로: 손오공과 요괴왕의 대결,2017-01-19,12세이상관람가,"코미디,액션,판타지",중국,중국,NaN,(주)케이알씨지,이샤오싱,"진백림,양자산",2017-02-01,16000,188000,5,58,5,5,판타지
250806,77,스타워즈: 깨어난 포스,2015-12-17,12세이상관람가,"액션,어드벤처,판타지",미국,미국,NaN,월트디즈니컴퍼니코리아(주),J.J. 에이브럼스,"해리슨 포드,마크 해밀,캐리 피셔,사이먼 페그,오스카 아이삭,막스 본 시도우,도널 글리슨",2016-03-13,99000,28353796331,19,3273879,1,1,판타지

In [56]:
action_gerne_ordered.groupby(['영화명','개봉일'])['장르LIST'].count().to_frame()

                                   장르LIST
영화명                    개봉일
007 노 타임 투 다이          2021-09-29       1
007 북경특급 2             2014-05-01       2
007 스카이폴               2012-10-26       1
007 스펙터                2015-11-11       4
007 제2편 : 위기일발         1973-09-21       2
...                                   ...
히트맨: 에이전트 47           2015-09-03       3
히트맨: 코드네임 버튜소          2022-11-03       2
히트스트로크                 2015-09-15       2
히틀러 좀비 군단 : 벙커 오브 더 데드 2016-09-21       3
힛쳐                     2007-08-01       3

[3029 rows x 1 columns]

### 모르겠음

In [39]:
mv_action_genre = mv_action_explode['장르LIST'].to_frame().reset_index(drop=True)
mv_action_genre

      장르LIST
0         액션
1        코미디
2         액션
3         액션
4         액션
...      ...
6812      SF
6813  공포(호러)
6814      액션
6815      범죄
6816     스릴러

[6817 rows x 1 columns]

In [45]:
action_gr_cnt = mv_action_genre.value_counts()
action_gr_cnt

장르LIST
액션          3029
스릴러          627
드라마          615
범죄           441
어드벤처         434
SF           430
코미디          304
판타지          243
전쟁           168
애니메이션        134
공포(호러)       122
멜로/로맨스        89
사극            57
미스터리          52
가족            38
서부극(웨스턴)      27
다큐멘터리          3
뮤지컬            2
기타             2
dtype: int64

In [44]:
print(type(mv_action_genre.value_counts()))
print(len(mv_action_genre.value_counts()))

<class 'pandas.core.series.Series'>
19

> 위에는 뻘짓

### 장르 묶인 것으로 분류

In [31]:
mv_action.groupby('장르').count().to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [37]:
action_classification_cnt = mv_action.groupby(['장르'])['영화명'].count().reset_index(name='액션장르_세부분류').sort_values('액션장르_세부분류', ascending=False)
action_classification_cnt

                     장르  액션장르_세부분류
194                  액션        625
259              액션,스릴러        195
213              액션,드라마        176
315              액션,코미디         93
114               범죄,액션         91
..                  ...        ...
157    애니메이션,드라마,액션,판타지          1
155     애니메이션,드라마,액션,사극          1
154     애니메이션,드라마,액션,가족          1
153     애니메이션,드라마,액션,SF          1
399  판타지,코미디,어드벤처,액션,SF          1

[400 rows x 2 columns]

In [50]:
action_classification_cnt_2 = action_classification_cnt[:]
action_classification_cnt_2['장르_list'] = action_classification_cnt_2['장르'].apply(lambda x : str(x).split(','))
action_classification_cnt_2

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_6340\807137736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  action_classification_cnt_2['장르_list'] = action_classification_cnt_2['장르'].apply(lambda x : str(x).split(','))

                     장르  액션장르_세부분류                   장르_list
194                  액션        625                      [액션]
259              액션,스릴러        195                 [액션, 스릴러]
213              액션,드라마        176                 [액션, 드라마]
315              액션,코미디         93                 [액션, 코미디]
114               범죄,액션         91                  [범죄, 액션]
..                  ...        ...                       ...
157    애니메이션,드라마,액션,판타지          1     [애니메이션, 드라마, 액션, 판타지]
155     애니메이션,드라마,액션,사극          1      [애니메이션, 드라마, 액션, 사극]
154     애니메이션,드라마,액션,가족          1      [애니메이션, 드라마, 액션, 가족]
153     애니메이션,드라마,액션,SF          1      [애니메이션, 드라마, 액션, SF]
399  판타지,코미디,어드벤처,액션,SF          1  [판타지, 코미디, 어드벤처, 액션, SF]

[400 rows x 3 columns]

In [65]:
temp = sorted(action_classification_cnt_2['장르_list'][0])
temp

['SF', '공포(호러)', '스릴러', '액션']

In [66]:
action_classification_cnt_3 = action_classification_cnt_2[:]
action_classification_cnt_3['장르_list'] = action_classification_cnt_3['장르_list'].apply(lambda x : sorted(x))
action_classification_cnt_3

                     장르  액션장르_세부분류                   장르_list
194                  액션        625                      [액션]
259              액션,스릴러        195                 [스릴러, 액션]
213              액션,드라마        176                 [드라마, 액션]
315              액션,코미디         93                 [액션, 코미디]
114               범죄,액션         91                  [범죄, 액션]
..                  ...        ...                       ...
157    애니메이션,드라마,액션,판타지          1     [드라마, 애니메이션, 액션, 판타지]
155     애니메이션,드라마,액션,사극          1      [드라마, 사극, 애니메이션, 액션]
154     애니메이션,드라마,액션,가족          1      [가족, 드라마, 애니메이션, 액션]
153     애니메이션,드라마,액션,SF          1      [SF, 드라마, 애니메이션, 액션]
399  판타지,코미디,어드벤처,액션,SF          1  [SF, 액션, 어드벤처, 코미디, 판타지]

[400 rows x 3 columns]

In [85]:
action_classification_cnt_4 = action_classification_cnt_3[:]
action_classification_cnt_4 = action_classification_cnt_4.drop('장르',axis=1)
action_classification_cnt_4

     액션장르_세부분류                   장르_list
194        625                      [액션]
259        195                 [스릴러, 액션]
213        176                 [드라마, 액션]
315         93                 [액션, 코미디]
114         91                  [범죄, 액션]
..         ...                       ...
157          1     [드라마, 애니메이션, 액션, 판타지]
155          1      [드라마, 사극, 애니메이션, 액션]
154          1      [가족, 드라마, 애니메이션, 액션]
153          1      [SF, 드라마, 애니메이션, 액션]
399          1  [SF, 액션, 어드벤처, 코미디, 판타지]

[400 rows x 2 columns]

In [73]:
type(action_classification_cnt_4['액션장르_세부분류'][0])

numpy.int64

In [87]:
action_classification_cnt_5 = action_classification_cnt_4[:]
action_classification_cnt_5['장르_list']=action_classification_cnt_5['장르_list'].apply(lambda x: ','.join(map(str, x))).to_frame()
action_classification_cnt_5

     액션장르_세부분류             장르_list
194        625                  액션
259        195              스릴러,액션
213        176              드라마,액션
315         93              액션,코미디
114         91               범죄,액션
..         ...                 ...
157          1    드라마,애니메이션,액션,판타지
155          1     드라마,사극,애니메이션,액션
154          1     가족,드라마,애니메이션,액션
153          1     SF,드라마,애니메이션,액션
399          1  SF,액션,어드벤처,코미디,판타지

[400 rows x 2 columns]

In [89]:
action_classification_cnt_6 = action_classification_cnt_5.groupby('장르_list')['액션장르_세부분류'].sum().reset_index(name='합').sort_values('합',ascending=False)
action_classification_cnt_6

                     장르_list    합
178                       액션  625
165                   스릴러,액션  238
109                   드라마,액션  234
150                    범죄,액션  163
37                     SF,액션  160
..                       ...  ...
50           가족,스릴러,애니메이션,액션    1
51             가족,스릴러,액션,코미디    1
101         드라마,스릴러,애니메이션,액션    1
100          드라마,서부극(웨스턴),액션    1
0    SF,가족,애니메이션,액션,어드벤처,코미디    1

[190 rows x 2 columns]

### (액션, 스릴러) 는 (스릴러,액션)과 동일