In [25]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python38\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\python38\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [237]:
import pandas as pd

In [126]:
df = pd.read_excel('./data1/KOBIS_지역별_점유율_2023-05-10.xlsx', engine='openpyxl')
df

,■ 지역별 점유율,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,- 조회일: 2023-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- 출처: 영화진흥위원회 통합전산망 (http://www.kobis.or.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,▶ 검색조건 [ 조회기간 : 2014-01-01~2014-01-31 ],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지역,한국영화,NaN,NaN,NaN,외국영화,NaN,NaN,NaN,전체,NaN,NaN,NaN
4,NaN,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
5,서울시,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
6,경기도,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
7,부산시,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
8,대구시,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
9,경상남도,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
10,인천시,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
11,광주시,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
12,대전시,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
13,경상북도,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
14,충청남도,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
15,전라북도,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
16,충청북도,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
17,강원도,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
18,울산시,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
19,전라남도,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
20,제주도,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
21,세종시,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
22,합계,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1

# 년월 추출

In [127]:
ym = df.loc[2][0]
print(ym)
year = ym.split(' ')[5].split('~')[0].split('-')[0]
month = ym.split(' ')[5].split('~')[0].split('-')[1]
print(year, month)

▶ 검색조건 [ 조회기간 : 2014-01-01~2014-01-31 ]
2014 01

In [128]:
df = pd.read_excel('./data1/KOBIS_지역별_점유율_2023-05-10.xlsx', engine='openpyxl', header = 4)
df

,지역,한국영화,Unnamed: 2,Unnamed: 3,Unnamed: 4,외국영화,Unnamed: 6,Unnamed: 7,Unnamed: 8,전체,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
1,서울시,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
18,합계,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1

In [129]:
df.insert(1, '년도', year)
df.insert(2, '월', month)
df

,지역,년도,월,한국영화,Unnamed: 2,Unnamed: 3,Unnamed: 4,외국영화,Unnamed: 6,Unnamed: 7,Unnamed: 8,전체,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,2014,01,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
1,서울시,2014,01,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,2014,01,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,2014,01,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,2014,01,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,2014,01,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,2014,01,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,2014,01,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,2014,01,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,2014,01,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,2014,01,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,2014,01,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,2014,01,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
18,합계,2014,01,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1

In [136]:
df = df.rename(columns={'지역':'지역', '년도':'년도', '월':'월',
                      '한국영화':'한국영화 상영편수', 'Unnamed: 2':'한국영화 매출액',
                      'Unnamed: 3':'한국영화 관객수', 'Unnamed: 4':'한국영화 점유율',
                      '외국영화':'외국영화 상영편수', 'Unnamed: 6':'외국영화 매출액',
                      'Unnamed: 7':'외국영화 관객수', 'Unnamed: 8':'외국영화 점유율',
                      '전체':'전체 상영편수', 'Unnamed: 10':'전체 매출액',
                      'Unnamed: 11':'전체 관객수', 'Unnamed: 12':'전체 점유율'})

In [137]:
df

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,01,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,2014,01,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,2014,01,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,2014,01,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,2014,01,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,2014,01,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,2014,01,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,2014,01,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,2014,01,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,2014,01,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,2014,01,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,2014,01,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
18,합계,2014,01,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1

In [133]:
df.drop([0], axis=0, inplace=True)

In [138]:
print(df.shape)
df

(18, 15)

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,01,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,2014,01,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,2014,01,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,2014,01,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,2014,01,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,2014,01,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,2014,01,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,2014,01,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,2014,01,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,2014,01,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,2014,01,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,2014,01,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
18,합계,2014,01,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1

# 데이터 합치기

In [161]:
add = pd.read_excel('./data1/KOBIS_지역별_점유율_2023-05-10 (1).xlsx', engine='openpyxl')
add

,■ 지역별 점유율,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,- 조회일: 2023-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,- 출처: 영화진흥위원회 통합전산망 (http://www.kobis.or.kr),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,▶ 검색조건 [ 조회기간 : 2014-02-01~2014-02-28 ],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지역,한국영화,NaN,NaN,NaN,외국영화,NaN,NaN,NaN,전체,NaN,NaN,NaN
4,NaN,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
5,서울시,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
6,경기도,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
7,부산시,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
8,대구시,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
9,경상남도,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
10,인천시,22,3716226100,504893,0.051,62,3209805300,416707,0.048,84,6926031400,921600,0.05
11,광주시,16,3088443400,454819,0.046,46,2245721100,300684,0.035,62,5334164500,755503,0.041
12,대전시,21,2662557100,376847,0.038,49,2343757600,301844,0.035,70,5006314700,678691,0.037
13,충청남도,13,2361185900,331361,0.033,34,1786122200,243421,0.028,47,4147308100,574782,0.031
14,전라북도,23,2445294000,352898,0.036,52,1640681100,225018,0.026,75,4085975100,577916,0.031
15,경상북도,21,2297604100,326702,0.033,32,1787132900,234331,0.027,53,4084737000,561033,0.03
16,충청북도,16,2028009600,291223,0.029,24,1454582100,199400,0.023,40,3482591700,490623,0.026
17,강원도,23,1691478700,237419,0.024,32,1313567400,176581,0.02,55,3005046100,414000,0.022
18,울산시,11,1637960000,217726,0.022,26,1425016600,173627,0.02,37,3062976600,391353,0.021
19,전라남도,12,1461815100,214587,0.022,23,885001500,128635,0.015,35,2346816600,343222,0.019
20,제주도,12,732590000,102394,0.01,20,624651500,85220,0.01,32,1357241500,187614,0.01
21,세종시,10,92828000,14801,0.002,14,77963000,12593,0.002,24,170791000,27394,0.002
22,합계,373,71668084431,9912782,1,861,67123132525,8645599,1,1234,138791216956,18558381,1

In [162]:
ym = add.loc[2][0]
print(ym)
year = ym.split(' ')[5].split('~')[0].split('-')[0]
month = ym.split(' ')[5].split('~')[0].split('-')[1]
print(year, month)

▶ 검색조건 [ 조회기간 : 2014-02-01~2014-02-28 ]
2014 02

In [164]:
add = pd.read_excel('./data1/KOBIS_지역별_점유율_2023-05-10 (1).xlsx', engine='openpyxl', header = 4)

In [165]:
add.insert(1, '년도', year)
add.insert(2, '월', month)
add

,지역,년도,월,한국영화,Unnamed: 2,Unnamed: 3,Unnamed: 4,외국영화,Unnamed: 6,Unnamed: 7,Unnamed: 8,전체,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,2014,02,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
1,서울시,2014,02,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
2,경기도,2014,02,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
3,부산시,2014,02,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
4,대구시,2014,02,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
5,경상남도,2014,02,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
6,인천시,2014,02,22,3716226100,504893,0.051,62,3209805300,416707,0.048,84,6926031400,921600,0.05
7,광주시,2014,02,16,3088443400,454819,0.046,46,2245721100,300684,0.035,62,5334164500,755503,0.041
8,대전시,2014,02,21,2662557100,376847,0.038,49,2343757600,301844,0.035,70,5006314700,678691,0.037
9,충청남도,2014,02,13,2361185900,331361,0.033,34,1786122200,243421,0.028,47,4147308100,574782,0.031
10,전라북도,2014,02,23,2445294000,352898,0.036,52,1640681100,225018,0.026,75,4085975100,577916,0.031
11,경상북도,2014,02,21,2297604100,326702,0.033,32,1787132900,234331,0.027,53,4084737000,561033,0.03
12,충청북도,2014,02,16,2028009600,291223,0.029,24,1454582100,199400,0.023,40,3482591700,490623,0.026
13,강원도,2014,02,23,1691478700,237419,0.024,32,1313567400,176581,0.02,55,3005046100,414000,0.022
14,울산시,2014,02,11,1637960000,217726,0.022,26,1425016600,173627,0.02,37,3062976600,391353,0.021
15,전라남도,2014,02,12,1461815100,214587,0.022,23,885001500,128635,0.015,35,2346816600,343222,0.019
16,제주도,2014,02,12,732590000,102394,0.01,20,624651500,85220,0.01,32,1357241500,187614,0.01
17,세종시,2014,02,10,92828000,14801,0.002,14,77963000,12593,0.002,24,170791000,27394,0.002
18,합계,2014,02,373,71668084431,9912782,1,861,67123132525,8645599,1,1234,138791216956,18558381,1

In [166]:
add = add.rename(columns={'지역':'지역', '년도':'년도', '월':'월',
                      '한국영화':'한국영화 상영편수', 'Unnamed: 2':'한국영화 매출액',
                      'Unnamed: 3':'한국영화 관객수', 'Unnamed: 4':'한국영화 점유율',
                      '외국영화':'외국영화 상영편수', 'Unnamed: 6':'외국영화 매출액',
                      'Unnamed: 7':'외국영화 관객수', 'Unnamed: 8':'외국영화 점유율',
                      '전체':'전체 상영편수', 'Unnamed: 10':'전체 매출액',
                      'Unnamed: 11':'전체 관객수', 'Unnamed: 12':'전체 점유율'})

In [167]:
add

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
0,NaN,2014,02,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율,상영편수,매출액,관객수,점유율
1,서울시,2014,02,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
2,경기도,2014,02,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
3,부산시,2014,02,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
4,대구시,2014,02,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
5,경상남도,2014,02,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
6,인천시,2014,02,22,3716226100,504893,0.051,62,3209805300,416707,0.048,84,6926031400,921600,0.05
7,광주시,2014,02,16,3088443400,454819,0.046,46,2245721100,300684,0.035,62,5334164500,755503,0.041
8,대전시,2014,02,21,2662557100,376847,0.038,49,2343757600,301844,0.035,70,5006314700,678691,0.037
9,충청남도,2014,02,13,2361185900,331361,0.033,34,1786122200,243421,0.028,47,4147308100,574782,0.031
10,전라북도,2014,02,23,2445294000,352898,0.036,52,1640681100,225018,0.026,75,4085975100,577916,0.031
11,경상북도,2014,02,21,2297604100,326702,0.033,32,1787132900,234331,0.027,53,4084737000,561033,0.03
12,충청북도,2014,02,16,2028009600,291223,0.029,24,1454582100,199400,0.023,40,3482591700,490623,0.026
13,강원도,2014,02,23,1691478700,237419,0.024,32,1313567400,176581,0.02,55,3005046100,414000,0.022
14,울산시,2014,02,11,1637960000,217726,0.022,26,1425016600,173627,0.02,37,3062976600,391353,0.021
15,전라남도,2014,02,12,1461815100,214587,0.022,23,885001500,128635,0.015,35,2346816600,343222,0.019
16,제주도,2014,02,12,732590000,102394,0.01,20,624651500,85220,0.01,32,1357241500,187614,0.01
17,세종시,2014,02,10,92828000,14801,0.002,14,77963000,12593,0.002,24,170791000,27394,0.002
18,합계,2014,02,373,71668084431,9912782,1,861,67123132525,8645599,1,1234,138791216956,18558381,1

In [169]:
add.drop([0], axis=0, inplace=True)

In [170]:
add

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,02,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
2,경기도,2014,02,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
3,부산시,2014,02,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
4,대구시,2014,02,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
5,경상남도,2014,02,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
6,인천시,2014,02,22,3716226100,504893,0.051,62,3209805300,416707,0.048,84,6926031400,921600,0.05
7,광주시,2014,02,16,3088443400,454819,0.046,46,2245721100,300684,0.035,62,5334164500,755503,0.041
8,대전시,2014,02,21,2662557100,376847,0.038,49,2343757600,301844,0.035,70,5006314700,678691,0.037
9,충청남도,2014,02,13,2361185900,331361,0.033,34,1786122200,243421,0.028,47,4147308100,574782,0.031
10,전라북도,2014,02,23,2445294000,352898,0.036,52,1640681100,225018,0.026,75,4085975100,577916,0.031
11,경상북도,2014,02,21,2297604100,326702,0.033,32,1787132900,234331,0.027,53,4084737000,561033,0.03
12,충청북도,2014,02,16,2028009600,291223,0.029,24,1454582100,199400,0.023,40,3482591700,490623,0.026
13,강원도,2014,02,23,1691478700,237419,0.024,32,1313567400,176581,0.02,55,3005046100,414000,0.022
14,울산시,2014,02,11,1637960000,217726,0.022,26,1425016600,173627,0.02,37,3062976600,391353,0.021
15,전라남도,2014,02,12,1461815100,214587,0.022,23,885001500,128635,0.015,35,2346816600,343222,0.019
16,제주도,2014,02,12,732590000,102394,0.01,20,624651500,85220,0.01,32,1357241500,187614,0.01
17,세종시,2014,02,10,92828000,14801,0.002,14,77963000,12593,0.002,24,170791000,27394,0.002
18,합계,2014,02,373,71668084431,9912782,1,861,67123132525,8645599,1,1234,138791216956,18558381,1

In [228]:
add.drop([18], axis=0, inplace=True)

In [229]:
add

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,01,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,2014,01,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,2014,01,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,2014,01,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,2014,01,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,2014,01,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,2014,01,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,2014,01,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,2014,01,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,2014,01,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,2014,01,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,2014,01,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002

In [178]:
df.shape

(18, 15)

In [179]:
add.shape

(18, 15)

In [182]:
data = pd.concat([df, add])
data

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,01,66,24851726009,3280753,0.241,133,24974520242,3133920,0.314,199,49826246251,6414673,0.272
2,경기도,2014,01,41,21786335000,2979464,0.219,61,17619461000,2381496,0.239,102,39405796000,5360960,0.227
3,부산시,2014,01,29,7988749500,1110512,0.082,86,5074251000,690764,0.069,115,13063000500,1801276,0.076
4,대구시,2014,01,22,5758631000,805946,0.059,61,3813600500,515028,0.052,83,9572231500,1320974,0.056
5,경상남도,2014,01,26,5545097000,774492,0.057,48,3196358000,486688,0.049,74,8741455000,1261180,0.053
6,인천시,2014,01,25,5116068000,687931,0.051,62,3700373000,498874,0.05,87,8816441000,1186805,0.05
7,광주시,2014,01,23,4171184000,609976,0.045,45,2340823000,320692,0.032,68,6512007000,930668,0.039
8,대전시,2014,01,15,3754367500,528181,0.039,47,2610604000,343195,0.034,62,6364971500,871376,0.037
9,경상북도,2014,01,19,3236741000,456557,0.034,33,1811123500,247128,0.025,52,5047864500,703685,0.03
10,충청남도,2014,01,12,3140531000,442646,0.033,33,1910504500,263473,0.026,45,5051035500,706119,0.03
11,전라북도,2014,01,21,3225819500,464255,0.034,50,1746974000,245370,0.025,71,4972793500,709625,0.03
12,충청북도,2014,01,18,2714653000,385307,0.028,34,1648997000,231455,0.023,52,4363650000,616762,0.026
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002
18,합계,2014,01,378,99104467509,13612681,1,808,75030789742,9983918,1,1186,174135257251,23596599,1
1,서울시,2014,02,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
2,경기도,2014,02,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
3,부산시,2014,02,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
4,대구시,2014,02,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
5,경상남도,2014,02,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
6,인천시,2014,02,22,3716226100,504893,0.051,62,3209805300,416707,0.048,84,6926031400,921600,0.05
7,광주시,2014,02,16,3088443400,454819,0.046,46,2245721100,300684,0.035,62,5334164500,755503,0.041
8,대전시,2014,02,21,2662557100,376847,0.038,49,2343757600,301844,0.035,70,5006314700,678691,0.037
9,충청남도,2014,02,13,2361185900,331361,0.033,34,1786122200,243421,0.028,47,4147308100,574782,0.031
10,전라북도,2014,02,23,2445294000,352898,0.036,52,1640681100,225018,0.026,75,4085975100,577916,0.031
11,경상북도,2014,02,21,2297604100,326702,0.033,32,1787132900,234331,0.027,53,4084737000,561033,0.03
12,충청북도,2014,02,16,2028009600,291223,0.029,24,1454582100,199400,0.023,40,3482591700,490623,0.026
13,강원도,2014,02,23,1691478700,237419,0.024,32,1313567400,176581,0.02,55,3005046100,414000,0.022
14,울산시,2014,02,11,1637960000,217726,0.022,26,1425016600,173627,0.02,37,3062976600,391353,0.021
15,전라남도,2014,02,12,1461815100,214587,0.022,23,885001500,128635,0.015,35,2346816600,343222,0.019
16,제주도,2014,02,12,732590000,102394,0.01,20,624651500,85220,0.01,32,1357241500,187614,0.01
17,세종시,2014,02,10,92828000,14801,0.002,14,77963000,12593,0.002,24,170791000,27394,0.002
18,합계,2014,02,373,71668084431,9912782,1,861,67123132525,8645599,1,1234,138791216956,18558381,1

In [183]:
data.shape

(36, 15)

# 모든 데이터 불러오고 합치기

In [184]:
import glob

In [230]:
path = './data1/*'
file_list = glob.glob(path)
[file for file in file_list if file.endswith('.xlsx')]

['./data1\\KOBIS_지역별_점유율_2023-05-10 (1).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (10).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (100).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (11).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (12).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (13).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (14).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (15).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (16).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (17).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (18).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (19).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (2).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (20).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (21).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (22).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (23).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (24).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (25).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (26).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (27).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (28).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (29).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (3).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (30).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (31).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (32).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (33).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (34).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (35).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (36).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (37).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (38).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (39).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (4).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (40).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (41).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (42).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (43).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (44).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (45).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (46).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (47).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (48).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (49).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (5).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (50).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (51).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (52).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (53).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (54).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (55).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (56).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (57).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (58).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (59).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (6).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (60).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (61).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (62).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (63).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (64).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (65).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (66).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (67).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (68).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (69).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (7).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (70).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (71).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (72).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (73).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (74).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (75).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (76).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (77).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (78).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (79).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (8).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (80).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (81).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (82).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (83).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (84).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (85).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (86).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (87).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (88).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (89).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (9).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (90).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (91).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (92).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (93).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (94).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (95).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (96).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (97).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (98).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 (99).xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112838.499.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112857.242.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112915.495.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112933.948.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112952.212.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113010.469.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113029.050.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113047.688.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113106.336.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113124.418.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113142.639.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115016.608.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115034.882.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115053.166.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115111.587.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115130.043.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115148.538.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115207.108.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115225.351.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115243.800.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115302.139.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115320.422.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115338.783.xlsx',
 './data1\\KOBIS_지역별_점유율_2023-05-10.xlsx']

In [231]:
len(file_list)

124

In [232]:
# data = pd.DataFrame(colums = ['지역', ' 년도', '월','한국영화 상영편수', '한국영화 매출액',
#         '한국영화 관객수', '한국영화 점유율', '외국영화 상영편수', '외국영화 매출액',
#         '외국영화 관객수', '외국영화 점유율', '전체 상영편수', '전체 매출액',
#         '전체 관객수', '전체 점유율'])
# data

data = pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [233]:
for i in range(len(file_list)):
    print(file_list[i])
    add = pd.read_excel(file_list[i], engine='openpyxl')

    ym = add.loc[2][0]
    year = ym.split(' ')[5].split('~')[0].split('-')[0]
    month = ym.split(' ')[5].split('~')[0].split('-')[1]
    print(year, month)
    
    add = pd.read_excel(file_list[i], engine='openpyxl', header = 4)
    add.insert(1, '년도', year)
    add.insert(2, '월', month)
    
    add = add.rename(columns={'지역':'지역', '년도':'년도', '월':'월',
                              '한국영화':'한국영화 상영편수', 'Unnamed: 2':'한국영화 매출액',
                              'Unnamed: 3':'한국영화 관객수', 'Unnamed: 4':'한국영화 점유율',
                              '외국영화':'외국영화 상영편수', 'Unnamed: 6':'외국영화 매출액',
                              'Unnamed: 7':'외국영화 관객수', 'Unnamed: 8':'외국영화 점유율',
                              '전체':'전체 상영편수', 'Unnamed: 10':'전체 매출액',
                              'Unnamed: 11':'전체 관객수', 'Unnamed: 12':'전체 점유율'})
    
    add.drop([0], axis=0, inplace=True)
    add.drop([18], axis=0, inplace=True)
    
    data = pd.concat([data, add])
data

./data1\KOBIS_지역별_점유율_2023-05-10 (1).xlsx
2014 02
./data1\KOBIS_지역별_점유율_2023-05-10 (10).xlsx
2014 11
./data1\KOBIS_지역별_점유율_2023-05-10 (100).xlsx
2022 05
./data1\KOBIS_지역별_점유율_2023-05-10 (11).xlsx
2014 12
./data1\KOBIS_지역별_점유율_2023-05-10 (12).xlsx
2015 01
./data1\KOBIS_지역별_점유율_2023-05-10 (13).xlsx
2015 02
./data1\KOBIS_지역별_점유율_2023-05-10 (14).xlsx
2015 03
./data1\KOBIS_지역별_점유율_2023-05-10 (15).xlsx
2015 04
./data1\KOBIS_지역별_점유율_2023-05-10 (16).xlsx
2015 05
./data1\KOBIS_지역별_점유율_2023-05-10 (17).xlsx
2015 06
./data1\KOBIS_지역별_점유율_2023-05-10 (18).xlsx
2015 07
./data1\KOBIS_지역별_점유율_2023-05-10 (19).xlsx
2015 08
./data1\KOBIS_지역별_점유율_2023-05-10 (2).xlsx
2014 03
./data1\KOBIS_지역별_점유율_2023-05-10 (20).xlsx
2015 09
./data1\KOBIS_지역별_점유율_2023-05-10 (21).xlsx
2015 10
./data1\KOBIS_지역별_점유율_2023-05-10 (22).xlsx
2015 11
./data1\KOBIS_지역별_점유율_2023-05-10 (23).xlsx
2015 12
./data1\KOBIS_지역별_점유율_2023-05-10 (24).xlsx
2016 01
./data1\KOBIS_지역별_점유율_2023-05-10 (25).xlsx
2016 02
./data1\KOBIS_지역별_점유율_2023-05-10 (26).xlsx
2016 03
./data1\KOBIS_지역별_점유율_2023-05-10 (27).xlsx
2016 04
./data1\KOBIS_지역별_점유율_2023-05-10 (28).xlsx
2016 05
./data1\KOBIS_지역별_점유율_2023-05-10 (29).xlsx
2016 06
./data1\KOBIS_지역별_점유율_2023-05-10 (3).xlsx
2014 04
./data1\KOBIS_지역별_점유율_2023-05-10 (30).xlsx
2016 07
./data1\KOBIS_지역별_점유율_2023-05-10 (31).xlsx
2016 08
./data1\KOBIS_지역별_점유율_2023-05-10 (32).xlsx
2016 09
./data1\KOBIS_지역별_점유율_2023-05-10 (33).xlsx
2016 10
./data1\KOBIS_지역별_점유율_2023-05-10 (34).xlsx
2016 11
./data1\KOBIS_지역별_점유율_2023-05-10 (35).xlsx
2016 12
./data1\KOBIS_지역별_점유율_2023-05-10 (36).xlsx
2017 01
./data1\KOBIS_지역별_점유율_2023-05-10 (37).xlsx
2017 02
./data1\KOBIS_지역별_점유율_2023-05-10 (38).xlsx
2017 03
./data1\KOBIS_지역별_점유율_2023-05-10 (39).xlsx
2017 04
./data1\KOBIS_지역별_점유율_2023-05-10 (4).xlsx
2014 05
./data1\KOBIS_지역별_점유율_2023-05-10 (40).xlsx
2017 05
./data1\KOBIS_지역별_점유율_2023-05-10 (41).xlsx
2017 06
./data1\KOBIS_지역별_점유율_2023-05-10 (42).xlsx
2017 07
./data1\KOBIS_지역별_점유율_2023-05-10 (43).xlsx
2017 08
./data1\KOBIS_지역별_점유율_2023-05-10 (44).xlsx
2017 09
./data1\KOBIS_지역별_점유율_2023-05-10 (45).xlsx
2017 10
./data1\KOBIS_지역별_점유율_2023-05-10 (46).xlsx
2017 11
./data1\KOBIS_지역별_점유율_2023-05-10 (47).xlsx
2017 12
./data1\KOBIS_지역별_점유율_2023-05-10 (48).xlsx
2018 01
./data1\KOBIS_지역별_점유율_2023-05-10 (49).xlsx
2018 02
./data1\KOBIS_지역별_점유율_2023-05-10 (5).xlsx
2014 06
./data1\KOBIS_지역별_점유율_2023-05-10 (50).xlsx
2018 03
./data1\KOBIS_지역별_점유율_2023-05-10 (51).xlsx
2018 04
./data1\KOBIS_지역별_점유율_2023-05-10 (52).xlsx
2018 05
./data1\KOBIS_지역별_점유율_2023-05-10 (53).xlsx
2018 06
./data1\KOBIS_지역별_점유율_2023-05-10 (54).xlsx
2018 07
./data1\KOBIS_지역별_점유율_2023-05-10 (55).xlsx
2018 08
./data1\KOBIS_지역별_점유율_2023-05-10 (56).xlsx
2018 09
./data1\KOBIS_지역별_점유율_2023-05-10 (57).xlsx
2018 10
./data1\KOBIS_지역별_점유율_2023-05-10 (58).xlsx
2018 11
./data1\KOBIS_지역별_점유율_2023-05-10 (59).xlsx
2018 12
./data1\KOBIS_지역별_점유율_2023-05-10 (6).xlsx
2014 07
./data1\KOBIS_지역별_점유율_2023-05-10 (60).xlsx
2019 01
./data1\KOBIS_지역별_점유율_2023-05-10 (61).xlsx
2019 02
./data1\KOBIS_지역별_점유율_2023-05-10 (62).xlsx
2019 03
./data1\KOBIS_지역별_점유율_2023-05-10 (63).xlsx
2019 04
./data1\KOBIS_지역별_점유율_2023-05-10 (64).xlsx
2019 05
./data1\KOBIS_지역별_점유율_2023-05-10 (65).xlsx
2019 06
./data1\KOBIS_지역별_점유율_2023-05-10 (66).xlsx
2019 07
./data1\KOBIS_지역별_점유율_2023-05-10 (67).xlsx
2019 08
./data1\KOBIS_지역별_점유율_2023-05-10 (68).xlsx
2019 09
./data1\KOBIS_지역별_점유율_2023-05-10 (69).xlsx
2019 10
./data1\KOBIS_지역별_점유율_2023-05-10 (7).xlsx
2014 08
./data1\KOBIS_지역별_점유율_2023-05-10 (70).xlsx
2019 11
./data1\KOBIS_지역별_점유율_2023-05-10 (71).xlsx
2019 12
./data1\KOBIS_지역별_점유율_2023-05-10 (72).xlsx
2020 01
./data1\KOBIS_지역별_점유율_2023-05-10 (73).xlsx
2020 02
./data1\KOBIS_지역별_점유율_2023-05-10 (74).xlsx
2020 03
./data1\KOBIS_지역별_점유율_2023-05-10 (75).xlsx
2020 04
./data1\KOBIS_지역별_점유율_2023-05-10 (76).xlsx
2020 05
./data1\KOBIS_지역별_점유율_2023-05-10 (77).xlsx
2020 06
./data1\KOBIS_지역별_점유율_2023-05-10 (78).xlsx
2020 07
./data1\KOBIS_지역별_점유율_2023-05-10 (79).xlsx
2020 08
./data1\KOBIS_지역별_점유율_2023-05-10 (8).xlsx
2014 09
./data1\KOBIS_지역별_점유율_2023-05-10 (80).xlsx
2020 09
./data1\KOBIS_지역별_점유율_2023-05-10 (81).xlsx
2020 10
./data1\KOBIS_지역별_점유율_2023-05-10 (82).xlsx
2020 11
./data1\KOBIS_지역별_점유율_2023-05-10 (83).xlsx
2020 12
./data1\KOBIS_지역별_점유율_2023-05-10 (84).xlsx
2021 01
./data1\KOBIS_지역별_점유율_2023-05-10 (85).xlsx
2021 02
./data1\KOBIS_지역별_점유율_2023-05-10 (86).xlsx
2021 03
./data1\KOBIS_지역별_점유율_2023-05-10 (87).xlsx
2021 04
./data1\KOBIS_지역별_점유율_2023-05-10 (88).xlsx
2021 05
./data1\KOBIS_지역별_점유율_2023-05-10 (89).xlsx
2021 06
./data1\KOBIS_지역별_점유율_2023-05-10 (9).xlsx
2014 10
./data1\KOBIS_지역별_점유율_2023-05-10 (90).xlsx
2021 07
./data1\KOBIS_지역별_점유율_2023-05-10 (91).xlsx
2021 08
./data1\KOBIS_지역별_점유율_2023-05-10 (92).xlsx
2021 09
./data1\KOBIS_지역별_점유율_2023-05-10 (93).xlsx
2021 10
./data1\KOBIS_지역별_점유율_2023-05-10 (94).xlsx
2021 11
./data1\KOBIS_지역별_점유율_2023-05-10 (95).xlsx
2021 12
./data1\KOBIS_지역별_점유율_2023-05-10 (96).xlsx
2022 01
./data1\KOBIS_지역별_점유율_2023-05-10 (97).xlsx
2022 02
./data1\KOBIS_지역별_점유율_2023-05-10 (98).xlsx
2022 03
./data1\KOBIS_지역별_점유율_2023-05-10 (99).xlsx
2022 04
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112838.499.xlsx
2022 06
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112857.242.xlsx
2022 07
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112915.495.xlsx
2022 08
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112933.948.xlsx
2022 09
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T112952.212.xlsx
2022 10
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113010.469.xlsx
2022 11
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113029.050.xlsx
2022 12
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113047.688.xlsx
2023 01
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113106.336.xlsx
2023 02
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113124.418.xlsx
2023 03
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T113142.639.xlsx
2023 04
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115016.608.xlsx
2013 01
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115034.882.xlsx
2013 02
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115053.166.xlsx
2013 03
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115111.587.xlsx
2013 04
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115130.043.xlsx
2013 05
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115148.538.xlsx
2013 06
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115207.108.xlsx
2013 07
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115225.351.xlsx
2013 08
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115243.800.xlsx
2013 09
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115302.139.xlsx
2013 10
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115320.422.xlsx
2013 11
./data1\KOBIS_지역별_점유율_2023-05-10 - 2023-05-10T115338.783.xlsx
2013 12
./data1\KOBIS_지역별_점유율_2023-05-10.xlsx
2014 01

,지역,년도,월,한국영화 상영편수,한국영화 매출액,한국영화 관객수,한국영화 점유율,외국영화 상영편수,외국영화 매출액,외국영화 관객수,외국영화 점유율,전체 상영편수,전체 매출액,전체 관객수,전체 점유율
1,서울시,2014,02,64,17869184931,2373251,0.239,166,21494462925,2604855,0.301,230,39363647856,4978106,0.268
2,경기도,2014,02,27,15744881100,2174626,0.219,75,14887958800,1944904,0.225,102,30632839900,4119530,0.222
3,부산시,2014,02,38,5596973400,778936,0.079,89,4968972200,645569,0.075,127,10565945600,1424505,0.077
4,대구시,2014,02,24,4259725500,597130,0.06,61,3764496200,486345,0.056,85,8024221700,1083475,0.058
5,경상남도,2014,02,20,3981327500,563169,0.057,56,3213240100,465865,0.054,76,7194567600,1029034,0.055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,강원도,2014,01,16,2330779500,325851,0.024,38,1522762500,211694,0.021,54,3853542000,537545,0.023
14,울산시,2014,01,12,2337920000,309703,0.023,25,1523261000,192633,0.019,37,3861181000,502336,0.021
15,전라남도,2014,01,12,2062251500,297950,0.022,21,891320500,131702,0.013,33,2953572000,429652,0.018
16,제주도,2014,01,11,948721000,132100,0.01,20,555702500,75892,0.008,31,1504423500,207992,0.009
17,세종시,2014,01,10,134893000,21057,0.002,11,90153500,13914,0.001,21,225046500,34971,0.002

In [234]:
data.shape

(2108, 15)

In [236]:
data.to_csv('./sample.csv', index=False)